.sui-loading {
  text-align: center;
  .icon-pc-loading {
    -webkit-animation: rotation 2s infinite linear;
    display: inline-block;
  }
  @-webkit-keyframes rotation {
      from {-webkit-transform: rotate(0deg);}
        to {-webkit-transform: rotate(359deg);}
  }
}


