//
// Msgs
// --------------------------------------------------


// GENERAL STYLES
// --------------

// 小图标坐标定位
// 基础样式
.sui-msg {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: relative;
	color: @msgDefaultColor;

  &.msg-error .msg-icon { background-position: 0 0; }
  &.msg-stop .msg-icon { background-position: 0 -16px; }
  &.msg-success .msg-icon { background-position: 0 -32px; }
  &.msg-warning .msg-icon { background-position: 0 -48px; }
  &.msg-notice .msg-icon { background-position: 0 -64px; }
  &.msg-tips .msg-icon { background-position: 0 -80px; }
  &.msg-info .msg-icon { background-position: 0 -96px; }
  &.msg-question .msg-icon { background-position: 0 -112px; }

  &.msg-large {
    .msg-icon { background-image: url(http://gtms03.alicdn.com/tps/i3/T10jXLFs0QXXbaGSHp-24-192.png); }
    &.msg-error .msg-icon { background-position: 0 0; }
    &.msg-stop .msg-icon { background-position: 0 -24px; }
    &.msg-success .msg-icon { background-position: 0 -48px; }
    &.msg-warning .msg-icon { background-position: 0 -72px; }
    &.msg-notice .msg-icon { background-position: 0 -96px; }
    &.msg-tips .msg-icon { background-position: 0 -120px; }
    &.msg-info .msg-icon { background-position: 0 -144px; }
    &.msg-question .msg-icon { background-position: 0 -168px; }
  }


	.msg-con {
		.border-radius(@msgBorderRadius);
		p { font-weight: normal; }
	}
	.msg-icon {
		display: inline-block;
		*display: inline;
		*zoom: 1;
		position: absolute;
		overflow: hidden;
		width: 16px;
		height: 16px;
    background-image: url(http://gtms02.alicdn.com/tps/i2/T1Pr4MFxtbXXXqV8zd-16-128.png);
	}
}

// 小尺寸（默认尺寸）
.sui-msg {
	font-size: @baseFontSize;
	line-height: @baseLineHeight;
	vertical-align: middle;
	.msg-con { padding: 2px 10px 2px 23px; }
	.msg-icon {
		top: 4px;
		left: 4px;
	}

  // 大尺寸
  &.msg-large {
    font-size: @fontSizeLarge;
    line-height: @lineHeightLarge;
    font-weight: bold;
    .msg-con { padding: 11px 11px 11px 44px; }
    .msg-icon {
      top: 12px;
      left: 11px;
      width: 24px;
      height: 24px;
    }
  }

  // Msgs类型
  &.msg-error {
    color: #ea4a36;
    .msg-con {
      border: 1px solid #ffe3e0;
      background-color: #fff2f2;
    }
  }
  &.msg-stop {
    color: #ea4a36;
    .msg-con {
      border: 1px solid #ffe3e0;
      background-color: #fff2f2;
    }
  }
  &.msg-success {
    color: #4ab933;
    .msg-con {
      border: 1px solid #dcf9d6;
      background-color: #edffe9;
    }
  }
  &.msg-warning {
    color: #cf700b;
    .msg-con {
      border: 1px solid #fee8d7;
      background-color: #fef1e3;
    }
  }
  &.msg-notice {
    color: #ee9f28;
    .msg-con {
      border: 1px solid #faf1d7;
      background-color: #fffff1;
    }
  }
  &.msg-tips {
    color: #ee9f28;
    .msg-con {
      border: 1px solid #faf1d7;
      background-color: #fffff1;
    }
  }
  &.msg-info {
    color: #3a9ed5;
    .msg-con {
      border: 1px solid #e4f3fd;
      background-color: #f2faff;
    }
  }
  &.msg-question {
    color: #333;
    .msg-con {
      border: 1px solid #eaeaea;
      background-color: #f7f7f7;
    }
  }

  // 成块级
  &.msg-block {
    display: block;
    margin-bottom: @baseMargin;
  }

  // 清除模式
  &.msg-clear {
    display: block;
    .msg-con {
      display: inline-block;
      *display: inline;
      *zoom: 1;
    }
  }

  // 默认字体颜色
  &.msg-default {
    color: @msgDefaultColor;
  }

  // 去边框和底色
  &.msg-naked {
    padding: 1px;
    .msg-con {
      border: none;
      background-color: transparent;
    }
  }
}
