//
// Msgs
// --------------------------------------------------


// GENERAL STYLES
// --------------

// 小图标坐标定位
// 基础样式
.sui-msg {
	display: inline-block;
	position: relative;
	color: @msgDefaultColor;

	.msg-con {
		.border-radius(@msgBorderRadius);
		p { font-weight: normal; }
	}
	.msg-icon {
    .sui-icon;
    position: absolute;
    top: 3px;
    left: 6px;
    font-size: 130%;
    text-decoration: none;
    &:before {
      content: "\e64a";
    }
	}
  //个别图标大小不一，修正一下
  &.msg-error .msg-icon,
  &.msg-stop .msg-icon,
  &.msg-success .msg-icon {
    font-size: 160%;
  }
  &.msg-tips .msg-icon,
  &.msg-info .msg-icon,
  &.msg-warning .msg-icon,
  &.msg-question .msg-icon
  {
    font-weight: bold;
  }
}


// 小尺寸（默认尺寸）
.sui-msg {
	font-size: @baseFontSize;
	line-height: @baseLineHeight;
	vertical-align: middle;
	.msg-con { padding: 2px 10px 2px 26px; }

  // 大尺寸
  &.msg-large {
    font-size: @fontSizeLarge;
    line-height: @lineHeightLarge;
    font-weight: bold;
    .msg-con { padding: 11px 11px 11px 44px; }
    .msg-icon {
      font-size: 180%;
      top: 12px;
      left: 11px;
      width: 24px;
      height: 24px;
    }
    //个别图标大小不一，修正一下
    &.msg-error .msg-icon,
    &.msg-stop .msg-icon,
    &.msg-success .msg-icon {
      font-size: 200%;
    }
    &.msg-tips .msg-icon,
    &.msg-info .msg-icon,
    &.msg-question .msg-icon
    {
      font-weight: bold;
    }
  }

  // Msgs类型
  &.msg-error {
    color: #ea4a36;
    .msg-con {
      border: 1px solid #ffe3e0;
      background-color: #fff2f2;
    }
  }
  &.msg-stop {
    color: #ea4a36;
    .msg-con {
      border: 1px solid #ffe3e0;
      background-color: #fff2f2;
    }
    .msg-icon:before {
      content: "\e648";
    }
  }
  &.msg-success {
    color: #4ab933;
    .msg-con {
      border: 1px solid #dcf9d6;
      background-color: #edffe9;
    }
    .msg-icon:before {
      content: "\e649"; 
    }
  }
  &.msg-warning {
    color: #cf700b;
    .msg-con {
      border: 1px solid #fee8d7;
      background-color: #fef1e3;
    }
    .msg-icon:before {
      content: "\e609"; 
    }
  }
  &.msg-notice {
    color: #ee9f28;
    .msg-con {
      border: 1px solid #faf1d7;
      background-color: #fffff1;
    }
    .msg-icon:before {
      content: "\e67c"; 
    }
  }
  &.msg-tips {
    color: #ee9f28;
    .msg-con {
      border: 1px solid #faf1d7;
      background-color: #fffff1;
    }
    .msg-icon:before {
      content: "\e605";   //没有好的图标，暂时用一样的
    }
  }
  &.msg-info {
    color: #3a9ed5;
    .msg-con {
      border: 1px solid #e4f3fd;
      background-color: #f2faff;
    }
    .msg-icon:before {
      content: "\e610"; 
    }
  }
  &.msg-question {
    color: #555;
    .msg-con {
      border: 1px solid #eaeaea;
      background-color: #f7f7f7;
    }
    .msg-icon:before {
      content: "\e611"; 
    }
  }

  // 成块级
  &.msg-block {
    display: block;
    margin-bottom: @baseMargin;
  }

  // 清除模式
  &.msg-clear {
    display: block;
    .msg-con {
      display: inline-block;
      *display: inline;
      *zoom: 1;
    }
  }

  // 默认字体颜色
  &.msg-default {
    color: @msgDefaultColor;
  }

  // 去边框和底色
  &.msg-naked {
    padding: 1px;
    .msg-con {
      border: none;
      background-color: transparent;
    }
  }
}
