
/* CORE STYLES */


.noty_message{
	position: fixed;
	display: none;
	min-width: 150px;
	text-align: center;
	left: 50%;
	top: 50%;
	button{
		position: absolute;
		top: 5px;
		right: 10px;
		display: none;
	}
	&.top{
		top: 80px;
	}
	&.topleft{
		top: 80px;
		left: 20px;
	}
	&.topright{
		top: 80px;
		left:auto;
		right: 20px;
	}
	&.bottom{
		top: auto;
		bottom: 10px;
	}
	&.bottomleft{
		top: auto;
		bottom: 10px;
		left: 20px;
	}
	&.bottomright{
		top: auto;
		bottom: 10px;
		left:auto;
		right: 20px;
	}
	&.center{
	}
}
.sui-msg.msg-large.noty_message > .msg-con {
	padding: 11px 31px 11px 44px;
}
.show-close-btn button{
	display: block;
}