//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------


// Grays
// -------------------------
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
@grayLight:             #999;
@grayLighter:           #eee;
@white:                 #fff;


// Accent colors
// -------------------------
@blue:                  #049cdb;
@blueDark:              #0064cd;
@green:                 #46a546;
@red:                   #9d261d;
@yellow:                #ffc40d;
@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6;


// Scaffolding
// -------------------------
@bodyBackground:        @white;
@textColor:             @grayDark;


// Links
// -------------------------
@linkColor:             #08c;
@linkColorHover:        darken(@linkColor, 15%);


// Typography
// -------------------------
@sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;
@serifFontFamily:       Georgia, "Times New Roman", Times, serif;
@monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace;

@baseFontSize:          12px;
@baseFontFamily:        @sansFontFamily;
@baseLineHeight:        18px;
@altFontFamily:         @serifFontFamily;

@headingsFontFamily:    inherit; // empty to use BS default, @baseFontFamily
@headingsFontWeight:    bold;    // instead of browser default, bold
@headingsColor:         inherit; // empty to use BS default, @textColor

// Iconography
// -------------------------

@iconFontPath:          "../fonts/";
@iconFontName:          "glyphicons-halflings-regular";

// Component sizing
// -------------------------
// Based on 12px font-size and 18px line-height

@fontSizeMini:          @baseFontSize;
@fontSizeSmall:         @baseFontSize;
@fontSizeLarge:         14px;
@fontSizeXLarge:        18px;

@lineHeightMini:        @baseLineHeight;
@lineHeightSmall:       @baseLineHeight;
@lineHeightLarge:       22px;
@lineHeightXLarge:      27px;

@baseBorderRadius:      4px;
@borderRadiusLarge:     6px;
@borderRadiusSmall:     3px;
@borderRadiusMini:      2px;

// padding
// used by btn and pagination
@basePadding:           4px 14px;
@paddingLarge:          4px 14px;
@paddingSmall:          2px 14px;
@paddingMini:           0px 6px;


// Tables
// -------------------------
@tableBackground:                   transparent; // overall background-color
@tableBackgroundAccent:             #f9f9f9; // for striping
@tableBackgroundHover:              #fafafa; // for hover
@tableBorder:                       #e6e6e6; // table and cell border
@tableHeadBackground:               #dedede;//table header background-color
@tableHeadBackgroundLight:          #2597dd;
@tableBorderLight:                  #1886c9;//light border color
@tablePadding:                      6px 8px;

// Buttons
// -------------------------
@btnBackground:                     @grayLighter;
@btnBackgroundHighlight:            #f7f7f7; //lighten(@btnBackground, 10%);

@btnPrimaryBackground:              #3097dd;
@btnPrimaryBackgroundHighlight:     #37a7ec; //spin(@btnPrimaryBackground, 20%)

@btnInfoBackground:                 #5bc0de;
@btnInfoBackgroundHighlight:        lighten(@btnInfoBackground, 10%);

@btnSuccessBackground:              #43cd6e;
@btnSuccessBackgroundHighlight:     #49de79;

@btnWarningBackground:              #fac603;
@btnWarningBackgroundHighlight:     #fbd238;

@btnDangerBackground:               #ea4a36;
@btnDangerBackgroundHighlight:      #ed6a5a;

@btnInverseBackground:              #444;
@btnInverseBackgroundHighlight:     @grayDarker;


// Forms
// -------------------------
@inputBackground:               @white;
@inputBorder:                   #ccc;
@inputBorderRadius:             @baseBorderRadius;
@inputDisabledBackground:       @grayLighter;
@formActionsBackground:         #f5f5f5;
@inputHeight:                   @baseLineHeight + 10px; // base line-height + 8px vertical padding + 2px top/bottom border


// Dropdowns
// -------------------------
@dropdownBackground:            @white;
@dropdownBorder:                rgba(0,0,0,.2);
@dropdownDividerTop:            #e5e5e5;
@dropdownDividerBottom:         @white;

@dropdownLinkColor:             @grayDark;
@dropdownLinkColorHover:        @white;
@dropdownLinkColorActive:       @white;

@dropdownLinkBackgroundActive:  @linkColor;
@dropdownLinkBackgroundHover:   @dropdownLinkBackgroundActive;



// COMPONENT VARIABLES
// --------------------------------------------------


// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
@zindexDropdown:          1000;
@zindexPopover:           1010;
@zindexTooltip:           1030;
@zindexFixedNavbar:       1030;
@zindexModalBackdrop:     1040;
@zindexModal:             1050;


// Sprite icons path
// -------------------------
@iconSpritePath:          "../img/glyphicons-halflings.png";
@iconWhiteSpritePath:     "../img/glyphicons-halflings-white.png";


// Input placeholder text color
// -------------------------
@placeholderText:         @grayLight;


// Hr border color
// -------------------------
@hrBorder:                @grayLighter;


// Horizontal forms & lists
// -------------------------
@horizontalComponentOffset:       180px;


// Wells
// -------------------------
@wellBackground:                  #f5f5f5;


// Navbar
// -------------------------
@navbarCollapseWidth:             979px;
@navbarCollapseDesktopWidth:      @navbarCollapseWidth + 1;

@navbarHeight:                    40px;
@navbarBackgroundHighlight:       #ffffff;
@navbarBackground:                darken(@navbarBackgroundHighlight, 5%);
@navbarBorder:                    darken(@navbarBackground, 12%);

@navbarText:                      #777;
@navbarLinkColor:                 #777;
@navbarLinkColorHover:            @grayDark;
@navbarLinkColorActive:           @gray;
@navbarLinkBackgroundHover:       transparent;
@navbarLinkBackgroundActive:      darken(@navbarBackground, 5%);

@navbarBrandColor:                @navbarLinkColor;

// Inverted navbar
@navbarInverseBackground:                #111111;
@navbarInverseBackgroundHighlight:       #222222;
@navbarInverseBorder:                    #252525;

@navbarInverseText:                      @grayLight;
@navbarInverseLinkColor:                 @grayLight;
@navbarInverseLinkColorHover:            @white;
@navbarInverseLinkColorActive:           @navbarInverseLinkColorHover;
@navbarInverseLinkBackgroundHover:       transparent;
@navbarInverseLinkBackgroundActive:      @navbarInverseBackground;

@navbarInverseSearchBackground:          lighten(@navbarInverseBackground, 25%);
@navbarInverseSearchBackgroundFocus:     @white;
@navbarInverseSearchBorder:              @navbarInverseBackground;
@navbarInverseSearchPlaceholderColor:    #ccc;

@navbarInverseBrandColor:                @navbarInverseLinkColor;


// Pagination
// -------------------------
@paginationBackground:                #fff;
@paginationBorder:                    #ddd;
@paginationActiveBackground:          #f5f5f5;


// Hero unit
// -------------------------
@heroUnitBackground:              @grayLighter;
@heroUnitHeadingColor:            inherit;
@heroUnitLeadColor:               inherit;


// Form states and alerts
// -------------------------
@warningText:             #c09853;
@warningBackground:       #fcf8e3;
@warningBorder:           darken(spin(@warningBackground, -10), 3%);

@errorText:               #b94a48;
@errorBackground:         #f2dede;
@errorBorder:             darken(spin(@errorBackground, -10), 3%);

@successText:             #468847;
@successBackground:       #dff0d8;
@successBorder:           darken(spin(@successBackground, -10), 5%);

@infoText:                #3a87ad;
@infoBackground:          #d9edf7;
@infoBorder:              darken(spin(@infoBackground, -10), 7%);


// Tooltips and popovers
// -------------------------
@tooltipColor:            #fff;
@tooltipBackground:       #000;
@tooltipArrowWidth:       5px;
@tooltipArrowColor:       @tooltipBackground;

@popoverBackground:       #fff;
@popoverArrowWidth:       10px;
@popoverArrowColor:       #fff;
@popoverTitleBackground:  darken(@popoverBackground, 3%);

// Special enhancement for popovers
@popoverArrowOuterWidth:  @popoverArrowWidth + 1;
@popoverArrowOuterColor:  rgba(0,0,0,.25);



// GRID
// --------------------------------------------------


// Default
// 998: 1024 ~ 1280-1
@gridColumns:             12;
@gridColumnWidth:         74px;
@gridGutterWidth:         10px;
@gridRowWidth:            (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));

// large
// 1190: 1280 ~ 1440-1
@gridColumnWidthLarge:     90px;
@gridGutterWidthLarge:     10px;
@gridRowWidthLarge:        (@gridColumns * @gridColumnWidthLarge) + (@gridGutterWidthLarge * (@gridColumns - 1));

// xlarge
// 1382: 1440 ~ *
@gridColumnWidthXLarge:      106px;
@gridGutterWidthXLarge:      10px;
@gridRowWidthXLarge:         (@gridColumns * @gridColumnWidthXLarge) + (@gridGutterWidthXLarge * (@gridColumns - 1));

// small
// 758: 768 ~ 1024-1
@gridColumnWidthSmall:      54px;
@gridGutterWidthSmall:      10px;
@gridRowWidthSmall:         (@gridColumns * @gridColumnWidthSmall) + (@gridGutterWidthSmall * (@gridColumns - 1));

// Fluid grid
// -------------------------
@fluidGridColumnWidth:    percentage(@gridColumnWidth/@gridRowWidth);
@fluidGridGutterWidth:    percentage(@gridGutterWidth/@gridRowWidth);

// large
@fluidGridColumnWidthLarge:     percentage(@gridColumnWidthLarge/@gridRowWidthLarge);
@fluidGridGutterWidthLarge:     percentage(@gridGutterWidthLarge/@gridRowWidthLarge);

// large
@fluidGridColumnWidthXLarge:     percentage(@gridColumnWidthXLarge/@gridRowWidthXLarge);
@fluidGridGutterWidthXLarge:     percentage(@gridGutterWidthXLarge/@gridRowWidthXLarge);


// small
@fluidGridColumnWidthSmall:      percentage(@gridColumnWidthSmall/@gridRowWidthSmall);
@fluidGridGutterWidthSmall:      percentage(@gridGutterWidthSmall/@gridRowWidthSmall);

// layout
@layoutSidebarWidth: 190px;
