doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    block title
    link(href="../assets/css/bootstrap.css",rel="stylesheet")
    link(href="../assets/css/bootstrap-responsive.css",rel="stylesheet")

    block head

  body
    block content
    script(src="../assets/js/jquery.js")
    script(src="../assets/js/bootstrap.js")
    script(src="http://localhost:3456/livereload.js")
    block js_block
