doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    block title
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    link(href="../../build/css/bootstrap.css",rel="stylesheet")
    link(href="../../build/css/bootstrap-responsive.css",rel="stylesheet")
    link(href="../assets/css/docs.css" rel="stylesheet")
    link(href="../assets/js/google-code-prettify/prettify.css" rel="stylesheet")
    link(rel="shortcut icon" href="../assets/ico/favicon.png")
    script(src="../../js/lib/jquery.js")
    script(src="../../build/js/bootstrap.js")

    //[if lt IE 9]><script src="js/html5shiv.js"></script><![endif]

    block head

  body
    include header
    block header
      +header('demos')
    mixin sidebar(highlight)
      include sidenav
    block content_wrap
      .sui-layout
        .sidebar
          block sidebar
        .content
          .content-inner
            block content

    script(src="../assets/js/google-code-prettify/prettify.js")
    script(src="../assets/js/application.js")
    script(src="http://localhost:3456/livereload.js")
    block js_block
