extends base

block title
  title 按钮组

block head
    style(type="text/css").
      .btn-group-vertical .sui-btn {
        min-width: 100px;
      }

block content
  .container
    h2 水平方向
    div.sui-btn-group
      button.sui-btn 左边
      button.sui-btn 中间
      button.sui-btn 右边
    div.sui-btn-group
      button.sui-btn 按钮
      button.sui-btn.btn-primray 按钮
      button.sui-btn.btn-warning 按钮
      button.sui-btn.btn-success 按钮
      button.sui-btn.btn-danger 按钮

    h2 垂直方向
    div.sui-btn-group.btn-group-vertical
      button.sui-btn 左边
      button.sui-btn 中间
      button.sui-btn 右边

    h2 工具栏
    div.sui-btn-toolbar(style="margin: 0;")
      div.sui-btn-group
        button.sui-btn 复制
        button.sui-btn 粘贴
        button.sui-btn 缩进

      div.sui-btn-group
        button.sui-btn.btn-danger 删除
        button.sui-btn.btn-primary 插入
