extends base

block title
  title 案例

block head
  style(type='text/css').
    .jumbotron {
      background-color: #6f5499;
      color: #fff;
      padding: 40px 0;
    }

    .sui-row {
      margin-top: 20px;
      border-radius: 6px;
      background: #DEE8F3;
    }

    .sui-row [class^='span'] {
      padding: 20px;
      box-sizing: border-box;
    }

block header
  +header('examples')

block content_wrap
  .jumbotron
    .sui-container
      h1 经典案例
      p.sui-lead
        | 使用SUI可以轻松搭建一个漂亮的页面，她有丰富的组件库可以像搭积木一样轻松搭建一个页面。
      p.sui-lead
        | 你现在正在浏览的官网就是用SUI组件搭建的，想要更多的案例，看看下面这些精美的页面吧。

  
  .sui-container 
    .sui-row
      .span8
        a.picture(href='../examples/serving-custom.html', target='_blank')
          img(src='../pictures/example-form.png')
      .span4
        h2 订购服务
        p.lead
          经典的表单应用页面。包括输入框，按钮，图片，提示等。
    .sui-row
      .span4
        h2 我的采购单
        p.lead
          典型的搜索页面，由一个多条件的搜索框和一个由复杂table组成的搜索结果。
      .span8
        a.picture(href='../examples/my-purchase.html', target="_blank")
          img(src='../pictures/example-table.png')

