extends base

block title
  title 图标

block head
  style(type='text/css').
    .icons-demo {
      font-size: 24px;
      word-break: break-all;
    }
    .icons-demo i {
      margin-right: 10px; 
    }

block sidebar
  +sidebar('icons')

block content
  h1.sui-page-header 图标

  p.sui-lead
    | 图标使用 <strong>icon font</strong> 字体实现，目前图标来自 <a href='http://icomoon.io/' target="_blank">icon moon</a>。<br />
    | 相比于图片，图标字体是矢量图，和普通文案一样可以非常方便的进行大小和颜色的调整。

  h2 1. 不同大小和功能的按钮
  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo1', data-toggle='tab') 示例
    li
      a(href='#code1', data-toggle='tab') 代码
    li
      a(href='#doc1', data-toggle='tab') 文档

  div.tab-content
    div.tab-pane.active#demo1
      div.bs-docs-example.icons-demo
        i.sui-icon-circle-arrow-down
        i.sui-icon-circle-arrow-up
        i.sui-icon-circle-arrow-right
        i.sui-icon-circle-arrow-left
        i.sui-icon-hand-down
        i.sui-icon-hand-up
        i.sui-icon-hand-left
        i.sui-icon-hand-right
        i.sui-icon-certificate
        i.sui-icon-bell
        i.sui-icon-bullhorn
        i.sui-icon-hdd
        i.sui-icon-rss
        i.sui-icon-credit
        i.sui-icon-unlock
        i.sui-icon-github
        i.sui-icon-facebook
        i.sui-icon-twitter
        i.sui-icon-phone-sign
        i.sui-icon-bookmark-empty
        i.sui-icon-check-empty
        i.sui-icon-phone
        i.sui-icon-lemon
        i.sui-icon-upload-alt
        i.sui-icon-github-sign
        i.sui-icon-trophy
        i.sui-icon-signin
        i.sui-icon-external-link
        i.sui-icon-pushpin
        i.sui-icon-linkedin-sign
        i.sui-icon-signout
        i.sui-icon-heart-empty
        i.sui-icon-star-half
        i.sui-icon-thumbs-down
        i.sui-icon-thumbs-up
        i.sui-icon-comments
        i.sui-icon-cogs
        i.sui-icon-key
        i.sui-icon-camera-retro
        i.sui-icon-facebook-sign
        i.sui-icon-twitter-sign
        i.sui-icon-bar-chart
        i.sui-icon-resize-horizontal
        i.sui-icon-resize-vertical
        i.sui-icon-folder-open
        i.sui-icon-folder-close
        i.sui-icon-shopping-cart
        i.sui-icon-retweet
        i.sui-icon-chevron-down
        i.sui-icon-chevron-up
        i.sui-icon-magnet
        i.sui-icon-comment
        i.sui-icon-random
        i.sui-icon-calendar
        i.sui-icon-plane
        i.sui-icon-warning-sign
        i.sui-icon-eye-close
        i.sui-icon-eye-open
        i.sui-icon-fire
        i.sui-icon-leaf
        i.sui-icon-gift
        i.sui-icon-exclamation-sign
        i.sui-icon-asterisk
        i.sui-icon-minus
        i.sui-icon-plus
        i.sui-icon-resize-small
        i.sui-icon-resize-full
        i.sui-icon-share-alt
        i.sui-icon-arrow-down
        i.sui-icon-arrow-up
        i.sui-icon-arrow-right
        i.sui-icon-arrow-left
        i.sui-icon-ban-circle
        i.sui-icon-ok-circle
        i.sui-icon-remove-circle
        i.sui-icon-screenshot
        i.sui-icon-info-sign
        i.sui-icon-question-sign
        i.sui-icon-ok-sign
        i.sui-icon-remove-sign
        i.sui-icon-minus-sign
        i.sui-icon-plus-sign
        i.sui-icon-chevron-right
        i.sui-icon-chevron-left
        i.sui-icon-eject
        i.sui-icon-step-forward
        i.sui-icon-fast-forward
        i.sui-icon-forward
        i.sui-icon-stop
        i.sui-icon-pause
        i.sui-icon-play
        i.sui-icon-backward
        i.sui-icon-fast-backward
        i.sui-icon-step-backward
        i.sui-icon-move
        i.sui-icon-check
        i.sui-icon-share
        i.sui-icon-edit
        i.sui-icon-tint
        i.sui-icon-adjust
        i.sui-icon-map-marker
        i.sui-icon-pencil
        i.sui-icon-picture
        i.sui-icon-facetime-video
        i.sui-icon-indent-right
        i.sui-icon-indent-left
        i.sui-icon-list
        i.sui-icon-align-justify
        i.sui-icon-align-right
        i.sui-icon-align-center
        i.sui-icon-align-left
        i.sui-icon-text-width
        i.sui-icon-text-height
        i.sui-icon-italic
        i.sui-icon-bold
        i.sui-icon-font
        i.sui-icon-camera
        i.sui-icon-print
        i.sui-icon-bookmark
        i.sui-icon-book
        i.sui-icon-tags
        i.sui-icon-tag
        i.sui-icon-barcode
        i.sui-icon-qrcode
        i.sui-icon-volume-up
        i.sui-icon-volume-down
        i.sui-icon-volume-off
        i.sui-icon-headphones
        i.sui-icon-flag
        i.sui-icon-lock
        i.sui-icon-list-alt
        i.sui-icon-refresh
        i.sui-icon-repeat
        i.sui-icon-play-circle
        i.sui-icon-inbox
        i.sui-icon-upload
        i.sui-icon-download
        i.sui-icon-download-alt
        i.sui-icon-road
        i.sui-icon-time
        i.sui-icon-file
        i.sui-icon-home
        i.sui-icon-trash
        i.sui-icon-cog
        i.sui-icon-signal
        i.sui-icon-off
        i.sui-icon-zoom-out
        i.sui-icon-zoom-in
        i.sui-icon-remove
        i.sui-icon-ok
        i.sui-icon-th-list
        i.sui-icon-th
        i.sui-icon-th-large
        i.sui-icon-film
        i.sui-icon-user
        i.sui-icon-star-empty
        i.sui-icon-star
        i.sui-icon-heart
        i.sui-icon-envelope
        i.sui-icon-search
        i.sui-icon-music
        i.sui-icon-glass
        i.sui-icon-globe
        i.sui-icon-wrench
        i.sui-icon-tasks
        i.sui-icon-filter
        i.sui-icon-briefcase
        i.sui-icon-fullscreen
        i.sui-icon-group
        i.sui-icon-link
        i.sui-icon-cloud
        i.sui-icon-beaker
        i.sui-icon-cut
        i.sui-icon-copy
        i.sui-icon-paper-clip
        i.sui-icon-save
        i.sui-icon-sign-blank
        i.sui-icon-reorder
        i.sui-icon-list-ul
        i.sui-icon-list-ol
        i.sui-icon-strikethrough
        i.sui-icon-underline
        i.sui-icon-table
        i.sui-icon-magic
        i.sui-icon-truck
        i.sui-icon-pinterest
        i.sui-icon-pinterest-sign
        i.sui-icon-google-plus-sign
        i.sui-icon-google-plus
        i.sui-icon-money
        i.sui-icon-caret-down
        i.sui-icon-caret-up
        i.sui-icon-caret-left
        i.sui-icon-caret-right
        i.sui-icon-columns
        i.sui-icon-sort
        i.sui-icon-sort-down
        i.sui-icon-sort-up
        i.sui-icon-envelope-alt
        i.sui-icon-linkedin
        i.sui-icon-undo
        i.sui-icon-legal
        i.sui-icon-dashboard
        i.sui-icon-comment-alt
        i.sui-icon-comments-alt
        i.sui-icon-bolt
        i.sui-icon-sitemap
        i.sui-icon-umbrella
        i.sui-icon-paste
        i.sui-icon-lightbulb
        i.sui-icon-exchange
        i.sui-icon-cloud-download
        i.sui-icon-cloud-upload
        i.sui-icon-user-md
        i.sui-icon-stethoscope
        i.sui-icon-suitcase
        i.sui-icon-bell-alt
        i.sui-icon-coffee
        i.sui-icon-food
        i.sui-icon-file-alt
        i.sui-icon-building
        i.sui-icon-hospital
        i.sui-icon-ambulance
        i.sui-icon-medkit
        i.sui-icon-fighter-jet
        i.sui-icon-beer
        i.sui-icon-h-sign
        i.sui-icon-plus-sign2
        i.sui-icon-double-angle-left
        i.sui-icon-double-angle-right
        i.sui-icon-double-angle-up
        i.sui-icon-double-angle-down
        i.sui-icon-angle-left
        i.sui-icon-angle-right
        i.sui-icon-angle-up
        i.sui-icon-angle-down
        i.sui-icon-desktop
        i.sui-icon-laptop
        i.sui-icon-tablet
        i.sui-icon-mobile
        i.sui-icon-circle-blank
        i.sui-icon-quote-left
        i.sui-icon-quote-right
        i.sui-icon-spinner
        i.sui-icon-circle
        i.sui-icon-reply
        i.sui-icon-github-alt
        i.sui-icon-folder-close-alt
        i.sui-icon-folder-open-alt
        i.sui-icon-expand-alt
        i.sui-icon-collapse-alt
        i.sui-icon-smile
        i.sui-icon-frown
        i.sui-icon-meh
        i.sui-icon-gamepad
        i.sui-icon-keyboard
        i.sui-icon-flag-alt
        i.sui-icon-flag-checkered
        i.sui-icon-terminal
        i.sui-icon-code
        i.sui-icon-reply-all
        i.sui-icon-star-half-full
        i.sui-icon-location-arrow
        i.sui-icon-crop
        i.sui-icon-code-fork
        i.sui-icon-unlink
        i.sui-icon-question
        i.sui-icon-info
        i.sui-icon-exclamation
        i.sui-icon-superscript
        i.sui-icon-subscript
        i.sui-icon-eraser
        i.sui-icon-puzzle
        i.sui-icon-microphone
        i.sui-icon-microphone-off
        i.sui-icon-shield
        i.sui-icon-calendar-empty
        i.sui-icon-fire-extinguisher
        i.sui-icon-rocket
        i.sui-icon-maxcdn
        i.sui-icon-chevron-sign-left
        i.sui-icon-chevron-sign-right
        i.sui-icon-chevron-sign-up
        i.sui-icon-chevron-sign-down
        i.sui-icon-html5
        i.sui-icon-css3
        i.sui-icon-anchor
        i.sui-icon-unlock-alt
        i.sui-icon-bullseye
        i.sui-icon-ellipsis-horizontal
        i.sui-icon-ellipsis-vertical
        i.sui-icon-rss-sign
        i.sui-icon-play-sign
        i.sui-icon-ticket
        i.sui-icon-minus-sign-alt
        i.sui-icon-check-minus
        i.sui-icon-level-up
        i.sui-icon-level-down
        i.sui-icon-check-sign
        i.sui-icon-edit-sign
        i.sui-icon-external-link-sign
        i.sui-icon-share-sign
        i.sui-icon-compass
        i.sui-icon-collapse
        i.sui-icon-collapse-top
        i.sui-icon-expand
        i.sui-icon-euro
        i.sui-icon-gbp
        i.sui-icon-dollar
        i.sui-icon-rupee
        i.sui-icon-yen
        i.sui-icon-renminbi
        i.sui-icon-won
        i.sui-icon-bitcoin
        i.sui-icon-file2
        i.sui-icon-file-text
        i.sui-icon-sort-by-alphabet
        i.sui-icon-sort-by-alphabet-alt
        i.sui-icon-sort-by-attributes
        i.sui-icon-sort-by-attributes-alt
        i.sui-icon-sort-by-order
        i.sui-icon-sort-by-order-alt
        i.sui-icon-thumbs-up2
        i.sui-icon-thumbs-down2
        i.sui-icon-youtube-sign
        i.sui-icon-youtube
        i.sui-icon-xing
        i.sui-icon-xing-sign
        i.sui-icon-youtube-play
        i.sui-icon-dropbox
        i.sui-icon-stackexchange
        i.sui-icon-instagram
        i.sui-icon-flickr
        i.sui-icon-adn
        i.sui-icon-bitbucket
        i.sui-icon-bitbucket-sign
        i.sui-icon-tumblr
        i.sui-icon-tumblr-sign
        i.sui-icon-long-arrow-down
        i.sui-icon-long-arrow-up
        i.sui-icon-long-arrow-left
        i.sui-icon-long-arrow-right
        i.sui-icon-apple
        i.sui-icon-windows
        i.sui-icon-android
        i.sui-icon-linux
        i.sui-icon-dribbble
        i.sui-icon-skype
        i.sui-icon-foursquare
        i.sui-icon-trello
        i.sui-icon-female
        i.sui-icon-male
        i.sui-icon-gittip
        i.sui-icon-sun
        i.sui-icon-moon
        i.sui-icon-archive
        i.sui-icon-bug
        i.sui-icon-vk
        i.sui-icon-weibo
        i.sui-icon-renren

    div.tab-pane#code1
      pre.prettyprint.linenums(data-target='#demo1>div')
    div.tab-pane#doc1
      | 图标来自 <a href='http://icomoon.io/app/#/select/font'>icon moon</a>

  ul.demo-operations.clearfix
    li
      a(href='#') 下载psd文件
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo1>div') 复制代码


