extends base

block title
  title 2 & 3 栏布局

block head
  style(type='text/css').
    .sui-layout div { background-color: #f5faff; min-height: 100px; }
    .sui-layout .sidebar { background: #3096de; }

block content
    h2 2 col layout
    div.sui-layout
      div.sidebar sidebar
      div.content content
    h2 3 col layout
    div.sui-layout.layout3
      div.sidebar sidebar
      div.content content
      div.sidebar sidebar
