extends base

block title
  title 2 & 3 栏布局

block head
  style(type='text/css').
    .layout div { background-color: #f1f1f1; min-height: 100px; }
    .layout .sidebar { background: #999; }

block content
    h2 2 col layout
    div.layout
      div.sidebar sidebar
      div.content content
    h2 3 col layout
    div.layout.layout3
      div.sidebar sidebar
      div.content content
      div.sidebar sidebar
