extends base

block title
  title 标签页

block content
  .container
    h2 不同尺寸
    ul.nav.nav-tabs
      li.active
        a 标签一
      li
        a(href='#') 标签二
      li
        a(href='#') 标签二

    ul.nav.nav-tabs.nav-tabs-large
      li
        a 语文
      li.active
        a(href='#') 数学
      li
        a(href='#') 英语

    ul.nav.nav-tabs.nav-tabs-xlarge
      li
        a 前端
      li.active
        a(href='#') 后端
      li
        a(href='#') 运维
