extends base

block title
    title 表格

block sidebar
  +sidebar('table')

block content

  mixin table(className,header)
    table(class=className)
      if(header)
        thead
          tr
            th ＃
            th 待付款
            th 宝宝数量
            th 交易金额
      tbody
        tr
          td 所有交易
          td 9999.00
          td 999
          td 99999.00
        tr
          td 待付款
          td 9999.00
          td 999
          td 99999.00
        tr
          td 已发货
          td 9999.00
          td 999
          td 99999.00
        tr
          td 已成功
          td 9999.00
          td 999
          td 99999.00
  mixin table2(className)
      table(class=className)
          thead
              tr
                  th #
                  th 新客户 uv
                  th 新客户转化率（％）
                  th 老客户 uv
                  th 老客户转化率（％）
          tbody
              tr
                  td 昨日
                  td 1.0
                  td 1.0
                  td 1.0
                  td 1.0
              tr
                  td 前日
                  td 1.0
                  td 0.0
                  td 0.0
                  td 0.0
              tr
                  td 前两天
                  td 1.0
                  td 1.0
                  td 0.0
                  td 0.0
              tr
                  td 行业平均
                  td 50.73
                  td 0.73
                  td 0.73
                  td 0.73
              tr
                  td 当前现状
                  td 低于平均
                  td 持平
                  td 高于平均
                  td 持平
  mixin table-sample
      table.sui-table.sui-table-bordered-simple
          thead
              tr
                  th(colspan="7") 
                      label.checkbox
                          input(type="checkbox")
                      a(href="#") 对比海外卖家
                      span.pull-right.gray 合作时间: 2013-05-22起
          tbody
              tr
                  td.center(width="20%") 001
                  td.center(width="13%")
                      ul.unstyled
                          li 0 (一个月)
                          li 0 (三个月)
                  td.center(width="13%")
                      ul.unstyled
                          li 0 (一个月) 
                          li 0 (三个月)
                  td.center(width="13%") 0
                  td.center(width="13%") 0.00%
                  td.center(width="13%") 0.00%
                  td.center
                      ul.unstyled
                          li
                              a(href="#") 终止
                          li
                              a(href="#") 查看分销商品
                          li
                              a(href="#") 授权
                          li
                              a(href="#") 授权品牌
                          li
                              a(href="#") 开通代销

  div.sui-page-header
    h1 表格

  p.sui-lead
    | 表格有两种用法：
    ul.unstyled
      li 一种是简单的数据列表，只包含简单的文本和链接。
      li 另一种是把表格当做容器，里面会有很复杂的结构，可能包括图片、链接、复杂的文案等。

  h2 1. 默认表格
  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo1', data-toggle='tab') 示例
    li
      a(href='#code1', data-toggle='tab') 代码
    li
      a(href='#doc1', data-toggle='tab') 文档

  div.tab-content
    div.tab-pane.active#demo1
      div.bs-docs-example
        +table("sui-table",true)
    div.tab-pane#code1
      pre.prettyprint.linenums(data-target='#demo1>div')
    div.tab-pane#doc1
      | 默认的表格样式

  ul.demo-operations.clearfix
    li
      a(href='#') 下载psd文件
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo1>div') 复制代码


  h2 2. 带边框和不带边框的表格
  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo2', data-toggle='tab') 示例
    li
      a(href='#code2', data-toggle='tab') 代码
    li
      a(href='#doc2', data-toggle='tab') 文档

  div.tab-content
    div.tab-pane.active#demo2
      div.bs-docs-example
        +table("sui-table table-bordered",true)
        +table("sui-table table-nobordered",true)
    div.tab-pane#code2
      pre.prettyprint.linenums(data-target='#demo2>div')
    div.tab-pane#doc2
      | 通过 <code>tabled-bordered</code> 和 <code>table-nobordered</code> 可以控制表格的边框显示

  ul.demo-operations.clearfix
    li
      a(href='#') 下载psd文件
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo2>div') 复制代码


        
  h2 3. 只有内边框的表格
  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo3', data-toggle='tab') 示例
    li
      a(href='#code3', data-toggle='tab') 代码
    li
      a(href='#doc3', data-toggle='tab') 文档

  div.tab-content
    div.tab-pane.active#demo3
      div.bs-docs-example
        +table("sui-table table-bordered-simple",true)
    div.tab-pane#code3
      pre.prettyprint.linenums(data-target='#demo3>div')
    div.tab-pane#doc3

  ul.demo-operations.clearfix
    li
      a(href='#') 下载psd文件
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo3>div') 复制代码

  h2 4. 表头在侧边
  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo4', data-toggle='tab') 示例
    li
      a(href='#code4', data-toggle='tab') 代码
    li
      a(href='#doc4', data-toggle='tab') 文档

  div.tab-content
    div.tab-pane.active#demo4
      div.bs-docs-example
        +table("sui-table table-sideheader")
    div.tab-pane#code4
      pre.prettyprint.linenums(data-target='#demo4>div')
    div.tab-pane#doc4
      | 表头在侧面

  ul.demo-operations.clearfix
    li
      a(href='#') 下载psd文件
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo4>div') 复制代码


  h2 5. 斑马线
  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo5', data-toggle='tab') 示例
    li
      a(href='#code5', data-toggle='tab') 代码
    li
      a(href='#doc5', data-toggle='tab') 文档

  div.tab-content
    div.tab-pane.active#demo5
      div.bs-docs-example
        +table("sui-table table-zebra",true)
        table.sui-table.table-vzebra
          tbody
            tr
              td 所有交易
              td 9999.00
              td 所有交易
              td 99999.00
            tr
              td 待付款
              td 9999.00
              td 待付款
              td 99999.00
            tr
              td 已发货
              td 9999.00
              td 已发货
              td 99999.00
            tr
              td 已成功
              td 9999.00
              td 已成功
              td 99999.00
    div.tab-pane#code5
      pre.prettyprint.linenums(data-target='#demo5>div')
    div.tab-pane#doc5
      | 水平和垂直的斑马线

  ul.demo-operations.clearfix
    li
      a(href='#') 下载psd文件
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo5>div') 复制代码


  h2 6. 首要表格
  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo6', data-toggle='tab') 示例
    li
      a(href='#code6', data-toggle='tab') 代码
    li
      a(href='#doc6', data-toggle='tab') 文档

  div.tab-content
    div.tab-pane.active#demo6
      div.bs-docs-example
        +table("sui-table table-primary",true)
    div.tab-pane#code6
      pre.prettyprint.linenums(data-target='#demo6>div')
    div.tab-pane#doc6
      | 首要表格，颜色接近首要按钮的颜色

  ul.demo-operations.clearfix
    li
      a(href='#') 下载psd文件
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo6>div') 复制代码

  h2 7. 二维表格
  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo7', data-toggle='tab') 示例
    li
      a(href='#code7', data-toggle='tab') 代码
    li
      a(href='#doc7', data-toggle='tab') 文档

  div.tab-content
    div.tab-pane.active#demo7
      div.bs-docs-example
        +table2("sui-table sui-table-bordered sui-table-sideheader")
    div.tab-pane#code7
      pre.prettyprint.linenums(data-target='#demo7>div')
    div.tab-pane#doc7
      | 二维表格

  ul.demo-operations.clearfix
    li
      a(href='#') 下载psd文件
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo7>div') 复制代码

  h2 8. 综合表格一
  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo8', data-toggle='tab') 示例
    li
      a(href='#code8', data-toggle='tab') 代码
    li
      a(href='#doc8', data-toggle='tab') 文档

  div.tab-content
    div.tab-pane.active#demo8
      div.bs-docs-example
        table.sui-table.sui-table-bordered
            thead
                tr
                    th(colspan="5")  
                        label.checkbox.pull-left
                            input(type="checkbox")
                            订单编号：7867473872181848
                        span.pull-right 成交时间：2014-01-11 11:59
            tbody
                tr
                    td(width="50%")
                        div.typographic
                            img(src="http://img.f2e.taobao.net/img.png_50x50.jpg")
                            a.block-text(href="#") 包邮 正品玛姬儿压缩面膜无纺布纸膜100粒 送泡瓶面膜刷喷瓶 新款
                            span 1
                            ul.unstyled
                                li 申请售后
                                li 投诉卖家
                    td.center(rowspan="2",width="11%") 56.50
                    td.center(rowspan="2",width="13%") 
                        ul.unstyled
                            li 交易成功
                            li 
                                a(href="#") 订单详情
                            li 
                                a(href="#") 对方已评
                    td.center(rowspan="2",width="13%") 
                        a.btn(href="#") 评价 
                    td.center(rowspan="2",width="13%") 
                        ul.unstyled
                            li 
                                a(href="#") 删除
                            li 
                                a(href="#") 标记
                            li 
                                a(href="#") 分享

                tr 
                    td(width="50%")
                        div.typographic
                            img(src="http://img.f2e.taobao.net/img.png_50x50.jpg")
                            a.block-text(href="#") 包邮 正品玛姬儿压缩面膜无纺布纸膜100粒 送泡瓶面膜刷喷瓶 新款
                            span 1
                            ul.unstyled
                                li 申请售后
                                li 投诉卖家
    div.tab-pane#code8
      pre.prettyprint.linenums(data-target='#demo8>div')
    div.tab-pane#doc8

  ul.demo-operations.clearfix
    li
      a(href='#') 下载psd文件
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo8>div') 复制代码


  h2 9. 综合表格二
  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo9', data-toggle='tab') 示例
    li
      a(href='#code9', data-toggle='tab') 代码
    li
      a(href='#doc9', data-toggle='tab') 文档

  div.tab-content
    div.tab-pane.active#demo9
      div.bs-docs-example
        +table-sample
    div.tab-pane#code9
      pre.prettyprint.linenums(data-target='#demo9>div')
    div.tab-pane#doc9

  ul.demo-operations.clearfix
    li
      a(href='#') 下载psd文件
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo9>div') 复制代码
