extends base

block title
  title tooltip 

block content
  div.container
    h1 Tooltip
    ul
      - var placement = ['top', 'right', 'bottom', 'left']
      each dir in placement
        li
          a(href='#', data-toggle='tooltip', data-placement='#{dir}', title='浮出在#{dir}的tooltip') 看#{dir}

block js_block
  script
    $('li a').tooltip()
