- var version = '1.4.3'

- var editorConfigPath = 'http://g.alicdn.com/sj/sui-editor/0.0.2/sui-editor.config.js'
- var editorJSPath = 'http://g.alicdn.com/sj/sui-editor/0.0.2/editor/js/sui-editor.js'
- var editorCSSPath = 'http://g.alicdn.com/sj/sui-editor/0.0.2/editor/css/sui-editor.css'
