doctype html
html(lang="en")
  head
    include head

    block head

  body
    include header
    block header
      +header('demos')
    mixin sidebar(highlight)
      include navtest
    block content_wrap
      .sui-layout
        .sidebar
          block sidebar
        .content
          .content-inner
            block content
            include discuss
            block footer
              .footer
                ul.unstyled
                  li @time 2014.03.07
                  li @author 商家业务事业部-电商服务支撑平台-UED团队

    include foot
    block js_block
