html(lang="en")
  head
    meta(charset="utf-8")
    block title
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    link(href="assets/css/animate.css",rel="stylesheet")
    link(href="../.package/css/sui.css",rel="stylesheet")
    link(href="../.package/css/sui-responsive.css",rel="stylesheet")
    link(href="assets/css/docs.css" rel="stylesheet")
    link(href="assets/js/google-code-prettify/prettify.css" rel="stylesheet")
    link(rel="shortcut icon" href="assets/ico/favicon.png")
    script(src="../js/lib/jquery.js")
    script(src="../.package/js/sui.js")

    //[if lt IE 9]><script src="assets/js/html5shiv.js"></script><![endif]

    block head

  body
    include header
    block header
      +header('demos')
    mixin sidebar(highlight)
      include sidenav
    block content_wrap
    block footer
      .footer
        ul.unstyled
          li @time 2014.03.07
          li @author 商家业务事业部-电商服务支撑平台-UED团队

    script(src="assets/js/google-code-prettify/prettify.js")
    script(src='assets/zeroclipboard/ZeroClipboard.js')
    script(src="assets/js/application.js")
    script(src="http://localhost:3456/livereload.js")
    block js_block
