extends base

block title
  title 按钮组

block head
    style(type="text/css").
      .btn-group-vertical .sui-btn {
        min-width: 100px;
      }

block sidebar
  +sidebar('btn-group')

block content
  h2.sui-page-header 开发者文档

  p.sui-lead
    ul.unstyled
      li
        strong 更新 v1.2.1：修复了 btn-bordered 的禁用状态样式。

  p.sui-lead
    | 垂直和水平方向按钮组

  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo1', data-toggle='tab') 示例
    li
      a(href='#code1', data-toggle='tab') 代码
    li
      a(href='#doc1', data-toggle='tab') 文档

  div.tab-content
    div.tab-pane.active#demo1
      div.bs-docs-example
        p
          div.sui-btn-group
            button.sui-btn.btn-bordered.btn-primary 复制
            button.sui-btn.btn-bordered.btn-primary 粘贴
            button.sui-btn.btn-bordered.btn-primary 编辑
            button.sui-btn.btn-bordered.btn-primary 撤销
            button.sui-btn.btn-bordered.btn-primary 查找
            button.sui-btn.btn-bordered.btn-primary 删除

        p
          div.sui-btn-group
            button.sui-btn.btn-bordered.btn-primary 复制
            button.sui-btn.btn-bordered.btn-info 粘贴
            button.sui-btn.btn-bordered.btn-warning 编辑
            button.sui-btn.btn-bordered.btn-success 撤销
            button.sui-btn.btn-bordered.btn-danger 删除
        p
          div.sui-btn-group
            button.sui-btn.btn-primary 复制
            button.sui-btn.btn-primary 粘贴
            button.sui-btn.btn-primary 编辑
            button.sui-btn.btn-primary 撤销
            button.sui-btn.btn-primary 查找
            button.sui-btn.btn-primary 删除
        p
          div.sui-btn-group
            button.sui-btn 左边
            button.sui-btn 中间
            button.sui-btn 右边
        p
          div.sui-btn-group
            button.sui-btn 复制
            button.sui-btn.btn-primary 粘贴
            button.sui-btn.btn-warning 按钮
            button.sui-btn.btn-success 按钮
            button.sui-btn.btn-danger 删除

        h2 垂直方向
        p
          div.sui-btn-group.btn-group-vertical
            button.sui-btn.btn-primary 左边
            button.sui-btn.btn-primary 中间
            button.sui-btn.btn-primary 右边
        p
          div.sui-btn-group.btn-group-vertical
            button.sui-btn.btn-primary.btn-bordered 左边
            button.sui-btn.btn-primary.btn-bordered 中间
            button.sui-btn.btn-primary.btn-bordered 右边

        h2 分组
        div.sui-btn-toolbar(style="margin: 0;")
          div.sui-btn-group
            button.sui-btn 复制
            button.sui-btn 粘贴
            button.sui-btn 缩进

          div.sui-btn-group
            button.sui-btn.btn-danger 删除
            button.sui-btn.btn-primary 插入
    div.tab-pane#code1
      pre.prettyprint.linenums(data-target='#demo1>div')
    div.tab-pane#doc1
      | 按钮组，默认是水平排列，通过class <code>btn-group-vertical</code> 控制按钮组垂直排列。

  ul.demo-operations.clearfix
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo1>div') 复制代码


