extends _base

block title
  title 图片裁剪 

block sidebar
  +sidebar('crop')

block content

  h2 crop: 图片裁剪
  p 基于Jcrop二次开发的一个图片裁剪组件,精简了一些商家业务不care的逻辑。支持移动端。

  h2.sui-page-header 开发者文档

  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo1', data-toggle='tab') 示例
    li
      a(href='#code1', data-toggle='tab') 代码
    li
      a(href='#doc1', data-toggle='tab') 文档
    li
      a(href='#api1', data-toggle='tab') API
    li
      a(href='#event1', data-toggle='tab') 事件

  div.tab-content
    div.tab-pane.active#demo1
      p 实现如下的例子很简单，请查看“代码”标签页
      div.bs-docs-example
        img(id="img1", src="http://gtms01.alicdn.com/tps/i1/TB1ezkhGpXXXXbuXFXXYhz0ZpXX-739-585.png")
        div#info(style="margin:10px 0").
          <label>X1 <input type="text" size="4" id="x1" name="x1" /></label>
          <label>Y1 <input type="text" size="4" id="y1" name="y1" /></label>
          <label>X2 <input type="text" size="4" id="x2" name="x2" /></label>
          <label>Y2 <input type="text" size="4" id="y2" name="y2" /></label>
          <label>W <input type="text" size="4" id="w" name="w" /></label>
          <label>H <input type="text" size="4" id="h" name="h" /></label>

        script.
          jQuery(function($){

            var jcrop_api;

            $('#img1').Jcrop({
              //最大范围[宽， 高]
              maxSize: [500, 300],
              //选框拖选鼠标移动时执行(执行频度很高)
              onChange:   showCoords,
              //选框拖选完毕时执行
              onSelect:   showCoords,
              //取消选框时执行
              onRelease:  clearCoords
            },function(){
              //可以借此将裁剪实例传到外部
              jcrop_api = this;
            });

            $('#info').on('change','input',function(e){
              var x1 = $('#x1').val(),
                  x2 = $('#x2').val(),
                  y1 = $('#y1').val(),
                  y2 = $('#y2').val();
              //通过程序方式设置选框位置
              jcrop_api.setSelect([x1,y1,x2,y2]);
            });

          });

          function showCoords(c)
          {
            $('#x1').val(c.x);
            $('#y1').val(c.y);
            $('#x2').val(c.x2);
            $('#y2').val(c.y2);
            $('#w').val(c.w);
            $('#h').val(c.h);
          };

          function clearCoords()
          {
            $('#info input').val('');
          };
    div.tab-pane#code1
      pre.prettyprint.linenums(data-target='#demo1>div')
    div.tab-pane#doc1
      sdfsdf
    div.tab-pane#api1
      下面是配置项和其默认值
      pre.
        {
          // 基础设置
          allowSelect: true,   //是否可选择、拖曳选框
          allowMove: true,     //选择完选框后是否可拖曳移动位置
          allowResize: true,   //选择完选框后是否可通过鼠标拉拽修改选框大小,设为false则选框四周的小方块也不会出现

          // 样式设置
          bgColor: 'black',    //截图时的背景色
          bgOpacity: 0.5,      //截图时的背景透明度
          bgFade: false,       //背景的显示隐藏是否用fade动画显示
          fadeTime: 400,       //如果开启背景渐隐特效（bgFade）,动画时长
          handleOpacity: 0.4,  //拉升操作块透明度
          handleSize: null,    //拉升操作块边长

          //裁剪限制
          aspectRatio: 0,      //限定只能按什么长宽比裁剪
          keySupport: true,    //是否开启键盘支持，方便微调
          touchSupport: null,  //是否开启触摸屏支持，不配置会进行自动判断

          shade: null,

          boxWidth: 0,         //裁剪组件容器宽度
          boxHeight: 0,        //裁剪组件容器高度

          minSelect: [0, 0],   //指定选框的最小宽、高，小于这个尺寸松开鼠标时选框会消失（onRelease触发）
          maxSize: [0, 0],     //选框可选择的最大宽、高
          minSize: [0, 0],     //选框可选择的最小宽、高

          onChange: function () {},//选框拖选鼠标移动时执行(执行频度很高)
          
          onSelect: function () {},//选框拖选完毕时执行
          
          onDblClick: function () {},//双击时
          
          onRelease: function () {}//取消选框时执行
        };
    div.tab-pane#event1
        table.sui-table.table-bordered
          thead
            tr
              th(style="width:150px") 名称
              th 类型
          tbody
            tr
              td onChange
              td 选框拖选鼠标移动时执行(执行频度很高)。
            tr
              td onSelect
              td 选框拖选完毕时执行。
            tr
              td onDblClick
              td 双击时执行。
            tr
              td onRelease
              td 取消选框时执行。
