extends base

block title
  title 下拉菜单

block head
  style(type='text/css').
    .sui-dropdown {
      margin-right: 8px;
    }

block sidebar
  +sidebar('dropdown')

block content

  div.docs-description
    img(src='pictures/docs/dropdown.png' style='width: 800px;')

  ul.demo-operations.clearfix
    li
      a(href='#') 下载psd文件

  h2 不同样式和大小
  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo1', data-toggle='tab') 示例
    li
      a(href='#code1', data-toggle='tab') 代码
    li
      a(href='#doc1', data-toggle='tab') 文档

  div.tab-content
    div.tab-pane.active#demo1
      div.bs-docs-example(style='min-height: 250px;')
        h3 默认样式
        span.sui-dropdown
          span.dropdown-inner
            a.dropdown-toggle#drop1(role="button" data-toggle="dropdown" href="#") 杭州 <i class='caret'></i>
            ul#menu1.sui-dropdown-menu(role="menu" aria-labelledby="drop1")
              li(role="presentation")
                a(role="menuitem" tabindex="-1" href="#") 北京
              li(role="presentation")
                a(role="menuitem" tabindex="-1" href="#") 圣彼得堡
              li.active(role="presentation")
                a(role="menuitem" tabindex="-1" href="#") 杭州
        h3 带边框
        span.sui-dropdown.dropdown-bordered
          span.dropdown-inner
            a.dropdown-toggle#drop1(role="button" data-toggle="dropdown" href="#") 
              i.caret
              |杭州
            ul#menu1.sui-dropdown-menu(role="menu" aria-labelledby="drop1")
              li(role="presentation")
                a(role="menuitem" tabindex="-1" href="#") 北京
              li(role="presentation")
                a(role="menuitem" tabindex="-1" href="#") 圣彼得堡
              li.active(role="presentation")
                a(role="menuitem" tabindex="-1" href="#") 杭州
                ul#menu1.sui-dropdown-menu(role="menu" aria-labelledby="drop2")
                  li(role="presentation")
                    a(role="menuitem" tabindex="-1" href="#") 北京
                  li(role="presentation")
                    a(role="menuitem" tabindex="-1" href="#") 圣彼得堡
                  li(role="presentation")
                    a(role="menuitem" tabindex="-1" href="#") 莫斯科



        span.sui-dropdown.dropdown-bordered.dropdown-large
          span.dropdown-inner
            a.dropdown-toggle#drop2(role="button" data-toggle="dropdown" href="#")
              i.caret
              | 北京
            ul#menu1.sui-dropdown-menu(role="menu" aria-labelledby="drop2")
              li.active(role="presentation")
                a(role="menuitem" tabindex="-1" href="#") 北京
              li(role="presentation")
                a(role="menuitem" tabindex="-1" href="#") 圣彼得堡
              li(role="presentation")
                a(role="menuitem" tabindex="-1" href="#") 杭州

        span.sui-dropdown.dropdown-bordered.dropdown-xlarge
          span.dropdown-inner
            a.dropdown-toggle#drop3(role="button" data-toggle="dropdown" href="#")
              i.caret
              |更大一点的
            ul#menu1.sui-dropdown-menu(role="menu" aria-labelledby="drop3")
              li(role="presentation")
                a(role="menuitem" tabindex="-1" href="#") 北京
              li(role="presentation")
                a(role="menuitem" tabindex="-1" href="#") 圣彼得堡
              li(role="presentation")
                a(role="menuitem" tabindex="-1" href="#") 莫斯科

        h3 深色背景
        span.sui-dropdown.dropdown-bordered.dropdown-dark
          span.dropdown-inner
            a.dropdown-toggle#drop1(role="button" data-toggle="dropdown" href="#") 
              i.caret
              |杭州
            ul#menu1.sui-dropdown-menu(role="menu" aria-labelledby="drop1")
              li(role="presentation")
                a(role="menuitem" tabindex="-1" href="#") 北京
              li(role="presentation")
                a(role="menuitem" tabindex="-1" href="#") 圣彼得堡
              li.active(role="presentation")
                a(role="menuitem" tabindex="-1" href="#") 杭州
                ul#menu1.sui-dropdown-menu(role="menu" aria-labelledby="drop2")
                  li(role="presentation")
                    a(role="menuitem" tabindex="-1" href="#") 北京
                  li(role="presentation")
                    a(role="menuitem" tabindex="-1" href="#") 圣彼得堡
                  li(role="presentation")
                    a(role="menuitem" tabindex="-1" href="#") 莫斯科

    div.tab-pane#code1
      pre.prettyprint.linenums(data-target='#demo1>div')
    div.tab-pane#doc1
      p 下拉菜单有两种样式：默认样式和带边框的样式，添加 <code>.dropdown-borderd</code> 是带边框的样式。
      p 带边框的下拉菜单有三种尺寸：默认，<code>.dropdown-large</code>，<code>.dropdown-xlarge</code> 
      p 在li上添加 '.active' 则表示默认选中
  ul.demo-operations.clearfix
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo1>div') 复制代码


  h2 多级下拉

  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo3', data-toggle='tab') 示例
    li
      a(href='#code3', data-toggle='tab') 代码

  div.tab-content
    div.tab-pane.active#demo3
      div.bs-docs-example(style='min-height: 200px;')
        span.sui-dropdown.dropdown-bordered
          span.dropdown-inner
            a.dropdown-toggle#drop5(role="button" data-toggle="dropdown" href="#") 
              i.caret
              |杭州
            ul#menu1.sui-dropdown-menu(role="menu" aria-labelledby="drop1")
              li(role="presentation")
                a(role="menuitem" tabindex="-1" href="#") 北京
              li.dropdown-submenu(role="presentation")
                a(role="menuitem" tabindex="-1" href="#")
                  <i class="sui-icon icon-angle-right"></i>
                  |武汉
                ul.sui-dropdown-menu
                  li(role="presentation")
                    a(role="menuitem" tabindex="-1" href="#") 汉口
                  li.dropdown-submenu(role="presentation")
                    a(role="menuitem" tabindex="-1" href="#")
                      <i class="sui-icon icon-angle-right"></i>
                      |武昌
                    ul.sui-dropdown-menu
                      li(role="presentation")
                        a(role="menuitem" tabindex="-1" href="#") 武汉大学
                      li(role="presentation")
                        a(role="menuitem" tabindex="-1" href="#") 华中科技大学
                      li(role="presentation")
                        a(role="menuitem" tabindex="-1" href="#") 华中师范大学
                  li(role="presentation")
                    a(role="menuitem" tabindex="-1" href="#") 汉阳
              li.dropdown-submenu(role="presentation")
                a(role="menuitem" tabindex="-1" href="#")
                  <i class="sui-icon icon-angle-right"></i>
                  | 杭州
                ul.sui-dropdown-menu
                  li(role="presentation")
                    a(role="menuitem" tabindex="-1" href="#") 西湖区
                  li(role="presentation")
                    a(role="menuitem" tabindex="-1" href="#") 余杭区
                  li(role="presentation")
                    a(role="menuitem" tabindex="-1" href="#") 东城区
    div.tab-pane#code3
      pre.prettyprint.linenums(data-target='#demo3>div')

  ul.demo-operations.clearfix
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo3>div') 复制代码



  h2 按钮下拉菜单

  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo5', data-toggle='tab') 示例
    li
      a(href='#code5', data-toggle='tab') 代码

  div.tab-content
    div.tab-pane.active#demo5
      div.bs-docs-example(style='min-height: 120px;')
        .sui-btn-toolbar
          div.sui-btn-group
            button.sui-btn.btn-primary.dropdown-toggle("data-toggle"="dropdown")
              i.caret
              |杭州
            ul#menu1.sui-dropdown-menu(role="menu" aria-labelledby="drop1")
              li(role="presentation")
                a(role="menuitem" tabindex="-1" href="#") 北京
              li.active(role="presentation")
                a(role="menuitem" tabindex="-1" href="#")
                  | 杭州
          div.sui-btn-group
            button.sui-btn.btn-danger.dropdown-toggle("data-toggle"="dropdown")
              i.caret
              | 杭州
            ul#menu1.sui-dropdown-menu(role="menu" aria-labelledby="drop1")
              li(role="presentation")
                a(role="menuitem" tabindex="-1" href="#") 北京
              li.active(role="presentation")
                a(role="menuitem" tabindex="-1" href="#")
                  | 杭州
    div.tab-pane#code5
      pre.prettyprint.linenums(data-target='#demo5>div')

  ul.demo-operations.clearfix
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo5>div') 复制代码

  h2 单独使用菜单
  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo2', data-toggle='tab') 示例
    li
      a(href='#code2', data-toggle='tab') 代码

  div.tab-content
    div.tab-pane.active#demo2
      div.bs-docs-example
        ul.sui-dropdown-menu(role="menu") 
          li(role="presentation")
            a(role="menuitem" tabindex="-1" href="#") 北京
          li(role="presentation")
            a(role="menuitem" tabindex="-1" href="#") 上海
          li(role="presentation")
            a(role="menuitem" tabindex="-1" href="#") 广州

    div.tab-pane#code2
      pre.prettyprint.linenums(data-target='#demo2>div')

  ul.demo-operations.clearfix
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo2>div') 复制代码


