extends base

block title
  title filesize 

block sidebar
  +sidebar('filesize')

block content

  h2.sui-page-header 开发者文档

  p.sui-lead
    一个超轻量的工具，将byte级别的正数（通常表征filesize）转成对人阅读更友好的格式。
    pre
      $.filesize(333)
      $.filesize(333, {round: 1})
      /**
      * @param  {number | string}  可正确转为数字的数字（int、float）、字符串
      * @param  {Object} opt 可选的配置，目前只有保留的小数位数round参数，默认为2
      */

  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo1', data-toggle='tab') 示例
    li
      a(href='#code1', data-toggle='tab') 代码
    li
      a(href='#doc1', data-toggle='tab') 文档

  div.tab-content
    div.tab-pane.active#demo1
      div.bs-docs-example
        input#filesize(type='text', placeholder='输入一个合法的非负数')
        span#ret
        script.
          $('#filesize').on('input', function(e){
            var val = $(this).val();
            $('#ret').html($.filesize(val))
          })

    div.tab-pane#code1
      pre.prettyprint.linenums(data-target='#demo1>div')
    div.tab-pane#doc1
      pre
        $.filesize(500);               // "500B"
        $.filesize(265318);           // "259.10kB"
        $.filesize(265318, {round: 1}); // "259.1 kB"


