extends base_index

block title
  title 下载

block head
  style(type='text/css').
    .btn-huge {
      padding: 15px 40px;
      font-size: 20px;
    }
block header
  +header('download')

block content_wrap
  .sui-container
    h1.sui-page-header SUI全部组件
    div.sui-gallery
        h2 表单
        ul.gallery-cont.clearfix
            li
                a(href='forms.html')
                    div.pic
                        img(src='http://gtms03.alicdn.com/tps/i3/TB1aktsFVXXXXbxXXXX8pzC2VXX-295-206.jpg')
                    h4 表单
            li
                a(href='buttons.html') 
                    div.pic
                        img(src='http://gtms04.alicdn.com/tps/i4/TB1xZVrFVXXXXXXXpXXbUWQ_FXX-451-294.jpg')
                    h4 按钮
            li 
                a(href='button-groups.html') 
                    div.pic
                        img(src='http://gtms03.alicdn.com/tps/i3/TB1NiXmFVXXXXX0XVXX0EvEIpXX-459-240.jpg')
                    h4 按钮组
            li 
                a(href='checkbox.html')
                    div.pic 
                        img(src='http://gtms03.alicdn.com/tps/i3/TB1_9lmFVXXXXXiXVXXc9yrYFXX-392-334.jpg')
                    h4 选框
            li 
                a(href='dropdown.html')
                    div.pic 
                        img(src='http://gtms01.alicdn.com/tps/i1/TB15aNmFVXXXXafXVXXShj8YpXX-496-211.jpg')
                    h4 下拉菜单-样式
            li 
                a(href='dropdown-js.html') 
                    div.pic
                        img(src='http://gtms03.alicdn.com/tps/i3/TB11HpnFVXXXXb.XFXXHmZdKVXX-362-239.jpg')
                    h4 下拉菜单-JS
            li 
                a(href='form-validate.html') 
                    div.pic
                        img(src='http://gtms01.alicdn.com/tps/i1/TB1H0FmFVXXXXbnXVXXLoD1ZXXX-393-310.jpg')
                    h4 表单校验
            li 
                a(href='datetimepicker.html') 
                    div.pic
                        img(src='http://gtms04.alicdn.com/tps/i4/TB1uIFqFVXXXXX_XpXXnPwtYFXX-315-284.jpg')
                    h4 datetimepicker
            li 
                a(href='autocomplete.html') 
                    div.pic
                        img(src='http://gtms03.alicdn.com/tps/i3/TB1NlVpFVXXXXcdXXXXTbDm0pXX-395-349.jpg')
                    h4 自动补全
            li 
                a(href='tree-js.html')
                    div.pic 
                        img(src='http://gtms04.alicdn.com/tps/i4/TB1RIBsFVXXXXXPXpXXycz7LpXX-470-383.jpg')
                    h4 级联选择
            li 
                a(href='pagination.html') 
                    div.pic
                        img(src='http://gtms03.alicdn.com/tps/i3/TB1gBtqFVXXXXXTXpXXeUX6.FXX-664-412.jpg')
                    h4 分页器-样式
            li 
                a(href='pagination-js.html') 
                    div.pic
                        img(src='http://gtms01.alicdn.com/tps/i1/TB1nihrFVXXXXcYXXXXRe1W3VXX-538-294.jpg')
                    h4 分页器-JS
        h2 文字和图标
        ul.gallery-cont.clearfix
            li 
                a(href='global.html') 
                    div.pic
                        img(src='http://gtms03.alicdn.com/tps/i3/TB1UWxmFVXXXXapXVXXwluN4FXX-435-382.jpg')
                    h4 全局文本样式
            li 
                a(href='icons.html') 
                    div.pic
                        img(src='http://gtms01.alicdn.com/tps/i1/TB1bfRnFVXXXXa7XFXXvET7LpXX-500-416.jpg')
                    h4 图标
            li 
                a(href='label.html') 
                    div.pic
                        img(src='http://gtms02.alicdn.com/tps/i2/TB1Qj8pFVXXXXboXpXX4AiE4XXX-330-105.jpg')
                    h4 Label
            li 
                a(href='tag.html') 
                    div.pic
                        img(src='http://gtms04.alicdn.com/tps/i4/TB1gmFoFVXXXXcfXFXX_k180pXX-425-198.jpg')
                    h4 Tag
        h2 表格和布局
        ul.gallery-cont.clearfix
            li 
                a(href='tables.html') 
                    div.pic
                        img(src='http://gtms03.alicdn.com/tps/i3/TB1oEXmFVXXXXXVXVXXLFabRpXX-587-375.jpg')
                    h4 表格
            li 
                a(href='grid.html') 
                    div.pic
                        img(src='http://gtms04.alicdn.com/tps/i4/TB1J8tnFVXXXXcLXpXX13WXKVXX-466-246.jpg')
                    h4 栅格
            li 
                a(href='layout.html') 
                    div.pic
                        img(src='http://gtms03.alicdn.com/tps/i3/TB1EO0sFVXXXXXqXXXXS56dPFXX-507-312.jpg')
                    h4 布局
        h2 导航和提醒
        ul.gallery-cont.clearfix
            li 
                a(href='navbar.html') 
                    div.pic
                        img(src='http://gtms01.alicdn.com/tps/i1/TB17gxnFVXXXXXJXVXXt5kaUpXX-488-275.jpg')
                    h4 导航栏
            li 
                a(href='msgs.html')
                    div.pic 
                        img(src='http://gtms03.alicdn.com/tps/i3/TB1670lFVXXXXXyaXXXFLCeUpXX-625-356.jpg')
                    h4 提示消息
            li 
                a(href='steps.html')
                    div.pic 
                        img(src='http://gtms04.alicdn.com/tps/i4/TB13MT1FFXXXXadXVXXPsmvMVXX-821-285.jpg')
                    h4 步骤条
            li 
                a(href='breadcrumb.html')
                    div.pic  
                        img(src='http://gtms04.alicdn.com/tps/i4/TB1arpsFVXXXXbKXXXX29QwWVXX-421-166.jpg')
                    h4 面包屑
            li 
                a(href='tab.html')
                    div.pic  
                        img(src='http://gtms02.alicdn.com/tps/i2/TB1DudnFVXXXXcOXFXXqpoHMVXX-684-352.jpg')
                    h4 标签页-样式
            li 
                a(href='tab-js.html')
                    div.pic  
                        img(src='http://gtms02.alicdn.com/tps/i2/TB12DXmFVXXXXaXXVXXEqdxPpXX-825-568.jpg')
                    h4 标签页-JS
            li 
                a(href='intro.html')
                    div.pic  
                        img(src='http://gtms01.alicdn.com/tps/i1/TB1wnBoFVXXXXb6XpXX1kgVJXXX-809-365.jpg')
                    h4 新手指引
        h2 弹层
        ul.gallery-cont.clearfix
            li 
                a(href='dialog.html') 
                    div.pic 
                        img(src='http://gtms04.alicdn.com/tps/i4/TB1J8tnFVXXXXcLXpXX13WXKVXX-466-246.jpg')
                    h4 对话框
            li 
                a(href='tooltip.html') 
                    div.pic 
                        img(src='http://gtms01.alicdn.com/tps/i1/TB1IUhnFVXXXXaOXFXX_oQ8SpXX-622-232.jpg')
                    h4 tooltip
        h2 其他
        ul.gallery-cont.clearfix
            li 
                a(href='loading.html')
                    div.pic  
                        img(src='http://gtms01.alicdn.com/tps/i1/TB1jjxoFVXXXXbGXpXXTW3m2XXX-431-431.jpg')
                    h4 loading
            li 
                a(href='progress.html')
                    div.pic  
                        img(src='http://gtms01.alicdn.com/tps/i1/TB1.E0sFVXXXXbUXXXXkb3SSVXX-697-337.jpg')
                    h4 进度条
            
               