extends _base

block title
  title 全局样式

block sidebar
  +sidebar('global')

block content
  - var SIZES = ['xlarge', 'large', '', 'small']
  - var ROLES = ["", "primary", "success", "info", "warning", "danger", "inverse"]

  h2.sui-page-header 设计规范

  div.docs-description
      img(src='pictures/docs/text.png')

  ul.demo-operations.clearfix
    li
        a(href='#') 下载psd文件

  h2.sui-page-header 开发者文档

  h2 基础字体和颜色
  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo1', data-toggle='tab') 示例
    li
      a(href='#code1', data-toggle='tab') 代码

  div.tab-content
    div.tab-pane.active#demo1
      div.bs-docs-example
        p
          | 段落
          | 基础字体：12px, #333, 微软雅黑
          | 基础行高: 18px

        h1 标题一
        h2 标题二
        h3 标题三
        h4 标题四
        h5 标题五
        
        p
          a(href='#') 链接颜色
    div.tab-pane#code1
      pre.prettyprint.linenums(data-target='#demo1>div')

  ul.demo-operations.clearfix
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo1>div') 复制代码
