extends base

block title
  title 全局样式

block sidebar
  +sidebar('global')

block content
  - var SIZES = ['xlarge', 'large', '', 'small']
  - var ROLES = ["", "primary", "success", "info", "warning", "danger", "inverse"]

  h2.sui-page-header 设计规范

  div.docs-description
      img(src='pictures/docs/text.png')

  ul.demo-operations.clearfix
    li
        a(href='#') 下载psd文件

  h2.sui-page-header 开发者文档

  h2 1. 基础字体和颜色
  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo1', data-toggle='tab') 示例
    li
      a(href='#code1', data-toggle='tab') 代码
    li
      a(href='#doc1', data-toggle='tab') 文档

  div.tab-content
    div.tab-pane.active#demo1
      div.bs-docs-example
        p
          | 段落
          | 基础字体：12px, #333, 微软雅黑
          | 基础行高: 18px

        h1 标题一
        h2 标题二
        h3 标题三
        h4 标题四
        h5 标题五

        p
          a(href='#') 链接颜色
    div.tab-pane#code1
      pre.prettyprint.linenums(data-target='#demo1>div')
    div.tab-pane#doc1
      h4 全局样式的修改主要包含以下几点
      ul.unstyled
        li 
          strong 字体：
          code
            | font-family: Arial, "微软雅黑", "宋体", sans-serif; font-size: 12px; line-height: 18px; color: #333333;
        li
          strong 链接颜色：
          | 修改了默认的链接颜色，默认颜色改为 <code>#06c</code>, hover 状态颜色改为 <code>#004080</code>
        li
          strong 移除了body元素的margin
        li
          strong 标题：
          | 从 <code>h1</code> 至 <code>h5</code> 的 <code>font-size</code>分别是：24px,22px,20px,14px,12px，行高是文字大小的1.5倍，上下margin都是9px
        li
          strong 段落：
          | 默认段落之间的间距是默认的行高 18px
        li
          strong 列表：
          | 移除了 <code>ul</code> 和 <code>ol</code> 的默认margin和padding

      p
        | 除此之外，还对 <code>small</code>, <code>strong</code>, <code>blockquote</code>等样式进行了调整。<br />
        | 对于 form，table 等的样式设置大部分都被封装在了对应的class之下，不会影响全局样式。

  ul.demo-operations.clearfix
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo1>div') 复制代码
