meta(charset="utf-8")
block title
meta(http-equiv="X-UA-Compatible",content="IE=edge")
meta(name="viewport",content="width=device-width, initial-scale=1")
link(href="assets/css/animate.css",rel="stylesheet")
link(id='docs-css' href="assets/css/docs.css?r=2014.06.30" rel="stylesheet")
link(href="assets/js/google-code-prettify/prettify.css" rel="stylesheet")
link(rel="shortcut icon" href="pictures/logo.png?r=2014.06.18")
script(src="../js/lib/jquery.js")
include themes-js
script(src="../.package/js/sui.js?r=2014.06.30")
include ga

//[if lt IE 9]><script src="assets/js/html5shiv.js"></script><![endif]
