extends base

block title
  title 图标

block head
  style(type='text/css').
    .icons-demo {
      font-size: 24px;
      word-break: break-all;
    }
    .icons-demo li {
      margin: 10px; 
      display: inline-block;
      width: 16px;
    }

block sidebar
  +sidebar('icons')

block content
  h1.sui-page-header 图标

  p.sui-lead
    | 图标使用 <strong>icon font</strong> 字体实现，目前图标来自 <a href='http://icomoon.io/' target="_blank">icon moon</a>。<br />
    | 相比于图片，图标字体是矢量图，和普通文案一样可以非常方便的进行大小和颜色的调整。

  h2 1. 不同大小和功能的按钮
  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo1', data-toggle='tab') 示例
    li
      a(href='#code1', data-toggle='tab') 代码
    li
      a(href='#doc1', data-toggle='tab') 文档

  div.tab-content
    div.tab-pane.active#demo1
      div.bs-docs-example.icons-demo
        ul.unstyled
          li
            i.sui-icon.icon-search
          li
            i.sui-icon.icon-th-large
          li
            i.sui-icon.icon-th
          li
            i.sui-icon.icon-th-list
          li
            i.sui-icon.icon-zoom-in
          li
            i.sui-icon.icon-zoom-out
          li
            i.sui-icon.icon-signal
          li
            i.sui-icon.icon-cog
          li
            i.sui-icon.icon-trash
          li
            i.sui-icon.icon-home
          li
            i.sui-icon.icon-time
          li
            i.sui-icon.icon-download-alt
          li
            i.sui-icon.icon-download
          li
            i.sui-icon.icon-upload
          li
            i.sui-icon.icon-play-circle
          li
            i.sui-icon.icon-repeat
          li
            i.sui-icon.icon-refresh
          li
            i.sui-icon.icon-list-alt
          li
            i.sui-icon.icon-lock
          li
            i.sui-icon.icon-flag
          li
            i.sui-icon.icon-volume-off
          li
            i.sui-icon.icon-volume-down
          li
            i.sui-icon.icon-volume-up
          li
            i.sui-icon.icon-qrcode
          li
            i.sui-icon.icon-barcode
          li
            i.sui-icon.icon-bookmark
          li
            i.sui-icon.icon-align-justify
          li
            i.sui-icon.icon-list
          li
            i.sui-icon.icon-picture
          li
            i.sui-icon.icon-pencil
          li
            i.sui-icon.icon-map-marker
          li
            i.sui-icon.icon-adjust
          li
            i.sui-icon.icon-edit
          li
            i.sui-icon.icon-check
          li
            i.sui-icon.icon-step-backward
          li
            i.sui-icon.icon-fast-backward
          li
            i.sui-icon.icon-backward
          li
            i.sui-icon.icon-play
          li
            i.sui-icon.icon-pause
          li
            i.sui-icon.icon-stop
          li
            i.sui-icon.icon-forward
          li
            i.sui-icon.icon-fast-forward
          li
            i.sui-icon.icon-step-forward
          li
            i.sui-icon.icon-chevron-left
          li
            i.sui-icon.icon-chevron-right
          li
            i.sui-icon.icon-plus-sign
          li
            i.sui-icon.icon-minus-sign
          li
            i.sui-icon.icon-remove-sign
          li
            i.sui-icon.icon-ok-sign
          li
            i.sui-icon.icon-question-sign
          li
            i.sui-icon.icon-info-sign
          li
            i.sui-icon.icon-remove-circle
          li
            i.sui-icon.icon-ok-circle
          li
            i.sui-icon.icon-ban-circle
          li
            i.sui-icon.icon-notification
          li
            i.sui-icon.icon-question
          li
            i.sui-icon.icon-arrow-left
          li
            i.sui-icon.icon-arrow-right
          li
            i.sui-icon.icon-arrow-up
          li
            i.sui-icon.icon-arrow-down
          li
            i.sui-icon.icon-long-arrow-left
          li
            i.sui-icon.icon-long-arrow-right
          li
            i.sui-icon.icon-long-arrow-up
          li
            i.sui-icon.icon-long-arrow-down
          li
            i.sui-icon.icon-resize-full
          li
            i.sui-icon.icon-resize-small
          li
            i.sui-icon.icon-exclamation-sign
          li
            i.sui-icon.icon-comment
          li
            i.sui-icon.icon-chevron-up
          li
            i.sui-icon.icon-chevron-down
          li
            i.sui-icon.icon-shopping-cart
          li
            i.sui-icon.icon-folder-close
          li
            i.sui-icon.icon-folder-open
          li
            i.sui-icon.icon-resize-vertical
          li
            i.sui-icon.icon-resize-horizontal
          li
            i.sui-icon.icon-bar-chart
          li
            i.sui-icon.icon-upload-alt
          li
            i.sui-icon.icon-bookmark-empty
          li
            i.sui-icon.icon-credit
          li
            i.sui-icon.icon-rss
          li
            i.sui-icon.icon-bell
          li
            i.sui-icon.icon-circle-arrow-left
          li
            i.sui-icon.icon-circle-arrow-right
          li
            i.sui-icon.icon-circle-arrow-up
          li
            i.sui-icon.icon-circle-arrow-down
          li
            i.sui-icon.icon-globe
          li
            i.sui-icon.icon-wrench
          li
            i.sui-icon.icon-tasks
          li
            i.sui-icon.icon-fullscreen
          li
            i.sui-icon.icon-reorder
          li
            i.sui-icon.icon-list-ul
          li
            i.sui-icon.icon-list-ol
          li
            i.sui-icon.icon-magic
          li
            i.sui-icon.icon-caret-down
          li
            i.sui-icon.icon-caret-up
          li
            i.sui-icon.icon-caret-left
          li
            i.sui-icon.icon-caret-right
          li
            i.sui-icon.icon-sort
          li
            i.sui-icon.icon-sort-down
          li
            i.sui-icon.icon-sort-up
          li
            i.sui-icon.icon-envelope-alt
          li
            i.sui-icon.icon-lightbulb
          li
            i.sui-icon.icon-cloud-download
          li
            i.sui-icon.icon-cloud-upload
          li
            i.sui-icon.icon-bell-alt
          li
            i.sui-icon.icon-double-angle-left
          li
            i.sui-icon.icon-double-angle-right
          li
            i.sui-icon.icon-double-angle-up
          li
            i.sui-icon.icon-double-angle-down
          li
            i.sui-icon.icon-angle-left
          li
            i.sui-icon.icon-angle-right
          li
            i.sui-icon.icon-angle-up
          li
            i.sui-icon.icon-angle-down
          li
            i.sui-icon.icon-desktop
          li
            i.sui-icon.icon-laptop
          li
            i.sui-icon.icon-tablet
          li
            i.sui-icon.icon-mobile
          li
            i.sui-icon.icon-chevron-sign-left
          li
            i.sui-icon.icon-chevron-sign-right
          li
            i.sui-icon.icon-chevron-sign-up
          li
            i.sui-icon.icon-chevron-sign-down
          li
            i.sui-icon.icon-html5
          li
            i.sui-icon.icon-rss-sign
          li
            i.sui-icon.icon-play-sign
          li
            i.sui-icon.icon-apple
          li
            i.sui-icon.icon-windows
          li
            i.sui-icon.icon-android
          li
            i.sui-icon.icon-weibo
          li
            i.sui-icon.icon-renren
          li
            i.sui-icon.icon-arrow-fat-up
          li
            i.sui-icon.icon-arrow-fat-right
          li
            i.sui-icon.icon-arrow-fat-down
          li
            i.sui-icon.icon-arrow-fat-left

    div.tab-pane#code1
      pre.prettyprint.linenums(data-target='#demo1>div')
    div.tab-pane#doc1
      | 图标来自 <a href='http://icomoon.io/app/#/select/font'>icon moon</a>

  ul.demo-operations.clearfix
    li
      a(href='#') 下载psd文件
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo1>div') 复制代码


