extends base

block title
  title 图标

block head
  style(type='text/css').
    .icon-pc-demo {
      font-size: 20px;
      word-break: break-all;
    }
    .icon-pc-demo i {
      margin: 10px; 
      display: inline-block;
      width: 20px;
    }
    .icon-touch-demo {
      font-size: 40px;
      word-break: break-all;
    }
    .icon-touch-demo i {
      margin: 10px; 
      display: inline-block;
      width: 40px;
    }

    .icon-moon-demo {
      font-size: 24px;
      word-break: break-all;
    }
    .icon-moon-demo i {
      margin: 10px; 
      display: inline-block;
      width: 24px;
    }

block sidebar
  +sidebar('icons')

block content
  h1.sui-page-header 图标

  p.sui-lead
    | 图标使用 <strong>icon font</strong> 字体实现，目前图标来自 <a href='http://icomoon.io/' target="_blank">icon moon</a>。<br />
    | 相比于图片，图标字体是矢量图，和普通文案一样可以非常方便的进行大小和颜色的调整。

  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo1', data-toggle='tab') 示例
    li
      a(href='#code1', data-toggle='tab') 代码
    li
      a(href='#doc1', data-toggle='tab') 文档

  div.tab-content
    div.tab-pane.active#demo1
      div.bs-docs-example.icon-touch-demo
        i.sui-icon.icon-touch-ww
        i.sui-icon.icon-touch-ww-sign
        i.sui-icon.icon-touch-users2
        i.sui-icon.icon-touch-users2-sign
        i.sui-icon.icon-touch-users
        i.sui-icon.icon-touch-users-sign
        i.sui-icon.icon-touch-meeting
        i.sui-icon.icon-touch-meeting-sign
        i.sui-icon.icon-touch-user3
        i.sui-icon.icon-touch-user3-sign
        i.sui-icon.icon-touch-user2
        i.sui-icon.icon-touch-user2-sign
        i.sui-icon.icon-touch-user
        i.sui-icon.icon-touch-user-sign
        i.sui-icon.icon-touch-user-remove
        i.sui-icon.icon-touch-user-remove-sign
        i.sui-icon.icon-touch-user-info
        i.sui-icon.icon-touch-user-info-sign
        i.sui-icon.icon-touch-user-add
        i.sui-icon.icon-touch-user-add-sign
        i.sui-icon.icon-touch-todo
        i.sui-icon.icon-touch-todo-sign
        i.sui-icon.icon-touch-todo-add
        i.sui-icon.icon-touch-todo-add-sign
        i.sui-icon.icon-touch-sound
        i.sui-icon.icon-touch-sound-sign
        i.sui-icon.icon-touch-setting2
        i.sui-icon.icon-touch-setting2-sign
        i.sui-icon.icon-touch-setting
        i.sui-icon.icon-touch-setting-sign
        i.sui-icon.icon-touch-send2
        i.sui-icon.icon-touch-send2-sign
        i.sui-icon.icon-touch-send
        i.sui-icon.icon-touch-send-sign
        i.sui-icon.icon-touch-score
        i.sui-icon.icon-touch-score-sign
        i.sui-icon.icon-touch-save
        i.sui-icon.icon-touch-save-sign
        i.sui-icon.icon-touch-right
        i.sui-icon.icon-touch-right-rect
        i.sui-icon.icon-touch-right-rect-sign
        i.sui-icon.icon-touch-refresh
        i.sui-icon.icon-touch-port-circle
        i.sui-icon.icon-touch-plus
        i.sui-icon.icon-touch-plus-circle
        i.sui-icon.icon-touch-plus-circle-sign
        i.sui-icon.icon-touch-play
        i.sui-icon.icon-touch-play-sign
        i.sui-icon.icon-touch-phone
        i.sui-icon.icon-touch-noti-circle
        i.sui-icon.icon-touch-noti-circle-sign
        i.sui-icon.icon-touch-monitor
        i.sui-icon.icon-touch-monitor-sign
        i.sui-icon.icon-touch-minus
        i.sui-icon.icon-touch-minus-circle
        i.sui-icon.icon-touch-minus-circle-sign
        i.sui-icon.icon-touch-microphone
        i.sui-icon.icon-touch-microphone-sign
        i.sui-icon.icon-touch-medal
        i.sui-icon.icon-touch-medal-sign
        i.sui-icon.icon-touch-male
        i.sui-icon.icon-touch-male-sign
        i.sui-icon.icon-touch-magnifier
        i.sui-icon.icon-touch-magnifier-sign
        i.sui-icon.icon-touch-location
        i.sui-icon.icon-touch-location-sign
        i.sui-icon.icon-touch-list
        i.sui-icon.icon-touch-list-rect
        i.sui-icon.icon-touch-list-rect-sign
        i.sui-icon.icon-touch-linechart
        i.sui-icon.icon-touch-linechart-sign
        i.sui-icon.icon-touch-light
        i.sui-icon.icon-touch-light-sign
        i.sui-icon.icon-touch-left-rect
        i.sui-icon.icon-touch-left-rect-sign
        i.sui-icon.icon-touch-key
        i.sui-icon.icon-touch-key-sign
        i.sui-icon.icon-touch-home
        i.sui-icon.icon-touch-home-sign
        i.sui-icon.icon-touch-garbage
        i.sui-icon.icon-touch-garbage-sign
        i.sui-icon.icon-touch-four
        i.sui-icon.icon-touch-four-sign
        i.sui-icon.icon-touch-following
        i.sui-icon.icon-touch-following-sign
        i.sui-icon.icon-touch-folder
        i.sui-icon.icon-touch-folder-sign
        i.sui-icon.icon-touch-folder-right
        i.sui-icon.icon-touch-folder-right-sign
        i.sui-icon.icon-touch-femal
        i.sui-icon.icon-touch-femal-sign
        i.sui-icon.icon-touch-face
        i.sui-icon.icon-touch-face-sign
        i.sui-icon.icon-touch-error
        i.sui-icon.icon-touch-error-circle
        i.sui-icon.icon-touch-error-circle-sign
        i.sui-icon.icon-touch-email2
        i.sui-icon.icon-touch-email2-sign
        i.sui-icon.icon-touch-email
        i.sui-icon.icon-touch-email-sign
        i.sui-icon.icon-touch-ellipsis
        i.sui-icon.icon-touch-edit
        i.sui-icon.icon-touch-edit-sign
        i.sui-icon.icon-touch-edit-rect
        i.sui-icon.icon-touch-edit-rect-sign
        i.sui-icon.icon-touch-earphone
        i.sui-icon.icon-touch-earphone-sing
        i.sui-icon.icon-touch-double-angle-right
        i.sui-icon.icon-touch-double-angle-left
        i.sui-icon.icon-touch-desk
        i.sui-icon.icon-touch-date
        i.sui-icon.icon-touch-date-sign
        i.sui-icon.icon-touch-cut
        i.sui-icon.icon-touch-complete
        i.sui-icon.icon-touch-complete-underline
        i.sui-icon.icon-touch-complete-underline-sign
        i.sui-icon.icon-touch-complete-sign
        i.sui-icon.icon-touch-clock2
        i.sui-icon.icon-touch-clock2-sign
        i.sui-icon.icon-touch-clock
        i.sui-icon.icon-touch-clock-sign
        i.sui-icon.icon-touch-circle
        i.sui-icon.icon-touch-chevron-up
        i.sui-icon.icon-touch-chevron-left
        i.sui-icon.icon-touch-chevron-down
        i.sui-icon.icon-touch-chat2
        i.sui-icon.icon-touch-chat2-sign
        i.sui-icon.icon-touch-chat
        i.sui-icon.icon-touch-chat-sign
        i.sui-icon.icon-touch-chair
        i.sui-icon.icon-touch-chair-sign
        i.sui-icon.icon-touch-caret-up
        i.sui-icon.icon-touch-caret-left
        i.sui-icon.icon-touch-camera
        i.sui-icon.icon-touch-camera-sign
        i.sui-icon.icon-touch-briefcase
        i.sui-icon.icon-touch-briefcase-sign
        i.sui-icon.icon-touch-break
        i.sui-icon.icon-touch-break-sign
        i.sui-icon.icon-touch-bell
        i.sui-icon.icon-touch-bell-sign
        i.sui-icon.icon-touch-association2
        i.sui-icon.icon-touch-association2-sign
        i.sui-icon.icon-touch-association
        i.sui-icon.icon-touch-association-sign
        i.sui-icon.icon-touch-arrow-up-left
        i.sui-icon.icon-touch-arrow-up-circle
        i.sui-icon.icon-touch-arrow-left
        i.sui-icon.icon-touch-arrow-down-circle
        i.sui-icon.icon-touch-arrow-bottom-right
        i.sui-icon.icon-touch-answer
        i.sui-icon.icon-touch-answer-sign

    div.tab-pane#code1
      pre.prettyprint.linenums(data-target='#demo1>div')
    div.tab-pane#doc1
