extends base_index

block title
  title SUI

block head
  link(rel="stylesheet",href="assets/css/index.css")
  link(rel="stylesheet",href="assets/css/onepagescroll.css")
  script(src='assets/js/index.js')
  script(src='assets/js/onepagescroll.js')

block header
  +header('index')

block content_wrap
  div.main
    section.page1.surround
      .brand-intro
        .sui-container.indexdiv.firstdiv
          h1 简单易用、功能强大的UI库
          p.sui-lead
            | SUI 是一套基于bootstrap开发的前端组件库，同时她也是一套设计规范。
            br
            | 通过SUI，可以非常方便的设计和实现精美的页面。

          p.btn-wrap
            a.sui-btn.btn-lead(href='/sui/docs/tutorial.html') SUI总库
            a.sui-btn.btn-lead(href='/qnui/docs/tutorial.html') 千牛UI
            a.sui-btn.btn-lead(href='/wqui/docs/tutorial.html') 旺企UI
          p.edition SUI&nbsp;&nbsp;V1.0.0
    section.page2.surround
      .features
        div.frontend.j-banner.cur
          div.sdc.disappear
            img(src="pictures/yuanpan_03.png" value="zoomInLeft")
          div.bili.disappear
            img(src="pictures/first1_03.png" value="rollIn")
          div.gg
            div.play
              div.dialog.disappear
                img(src="pictures/first3_06.png" value="rotateIn")
              div.fly.disappear
                div(value="fadeInUpBig")
                  img.rocket(src="pictures/roket_03.png")
                  div.shiyu
                    img(src="pictures/shiyu_12.png" value="swing")
          div.cloud
            img(src="pictures/cloud_02.png" style="width:100%")    
        div.nicedemo.j-banner
          div.bg
            div.demo
              img(src="pictures/demo.png" value="zoomInDown")
            div.prd
              img(src="pictures/prd.png" value="zoomInRight")
            div.flow
              img(src="pictures/flow.png" value="zoomInUp")
        div.casesupport.j-banner
          h2 案例支持
          div.qnui
            img(src="pictures/qjl.png")
          div.jqlui
            img(src="pictures/qn.png")
    section.page3.surround
      .wefamily
        div.toptitle
          img.name(src="pictures/we.png")
        div.peoples
          div.col-sm-6
            div.ih-item.square.effect6.from_top_and_bottom
              a(href="#")
                div.img
                  img(src="pictures/banbian.jpg" alt="img")
                div.info
                  h3 Heading here
                  p Description goes here
          div.col-sm-6
            div.ih-item.square.effect6.from_top_and_bottom
              a(href="#")
                div.img
                  img(src="pictures/suxin.jpg" alt="img")
                div.info
                  h3 Heading here
                  p Description goes here
          div.col-sm-6
            div.ih-item.square.effect6.from_top_and_bottom
              a(href="#")
                div.img
                  img(src="pictures/renxing.jpg" alt="img")
                div.info
                  h3 Heading here
                  p Description goes here
          div.col-sm-6
            div.ih-item.square.effect6.from_top_and_bottom
              a(href="#")
                div.img
                  img(src="pictures/renxing.jpg" alt="img")
                div.info
                  h3 Heading here
                  p Description goes here
            