extends base

block title
  title Label 

block sidebar
  +sidebar('Label')

block content
  div.sui-page-header
    h1 Label  

  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo1', data-toggle='tab') 示例
    li
      a(href='#code1', data-toggle='tab') 代码
    li
      a(href='#doc1', data-toggle='tab') 文档

  div.tab-content
    div.tab-pane.active#demo1
      div.bs-docs-example
      style.
        .bs-docs-example ul {
          margin-bottom: 20px;
        }
        .bs-docs-example li {
          display: inline-block;
          margin: 0 10px 10px 0;
        }
      div.tab-content
        div.tab-pane.active#demo1
          div.bs-docs-example
            - var cls = ['', 'success', 'warning', 'danger', 'info', 'inverse']
            - var txt = ['默认', '成功', '警示恩', '危险危险', '公告', '反色!']
            ul
              each clsi, i in cls
                li
                  span.sui-label(class='label-#{clsi}') #{txt[i]}

    div.tab-pane#code1
      pre.prettyprint.linenums(data-target='#demo1>div')
    div.tab-pane#doc1
      p 删掉原bootstrap里的badget，商家业务场合用的不多，且可以很方便的由label扩展去。
      p <code>sui-label</code>类名确定一个元素以label样式显示，再加之label-***可以区分不同状态的标识label
  ul.demo-operations.clearfix
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo1>div') 复制代码

