extends base

block title
  title loading 

block sidebar
  +sidebar('loading')

block content
  div.sui-page-header
    h1 loading  

  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo1', data-toggle='tab') 示例
    li
      a(href='#code1', data-toggle='tab') 代码
    li
      a(href='#doc1', data-toggle='tab') 文档

  div.tab-content
    div.tab-pane.active#demo1
      div.bs-docs-example

    div.tab-pane#code1
      pre.prettyprint.linenums(data-target='#demo1>div')
    div.tab-pane#doc1
      p 删掉原bootstrap里的badget，商家业务场合用的不多，且可以很方便的由loading扩展去。
      p <code>sui-loading</code>类名确定一个元素以loading样式显示，再加之loading-***可以区分不同状态的标识loading
  ul.demo-operations.clearfix
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo1>div') 复制代码

