extends base

block title
  title 提示消息

block head
    style(type="text/css").
      code {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        padding: 2px 4px;
        border: 1px solid #e1e1e8;
        font-size: 12px;
      }

block sidebar
  +sidebar('msg')
block content
  div.sui-page-header
    h1 提示消息
      small msgs

  p.sui-lead
    | 用来显示错误、提示、警告、公告等信息。

  ul.demo-operations.clearfix
    li
      a(href='#') 下载psd文件



  h2 不同种类

  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo1', data-toggle='tab') 示例
    li
      a(href='#code1', data-toggle='tab') 代码

  div.tab-content
    div.tab-pane.active#demo1
      div.bs-docs-example
        div.sui-msg.msg-error
          div.msg-con
            strong 错误
            | 辅助信息说明
          s.msg-icon

        <br /><br />

        div.sui-msg.msg-stop
          div.msg-con
            strong 禁止
            | 辅助信息说明
          s.msg-icon

        <br /><br />

        div.sui-msg.msg-success
          div.msg-con
            strong 成功
            | 辅助信息说明
          s.msg-icon

        <br /><br />

        div.sui-msg.msg-warning
          div.msg-con
            strong 警告
            | 辅助信息说明
          s.msg-icon

        <br /><br />

        div.sui-msg.msg-notice
          div.msg-con
            strong 系统
            | 辅助信息说明
          s.msg-icon

        <br /><br />

        div.sui-msg.msg-tips
          div.msg-con
            strong 提示
            | 辅助信息说明
          s.msg-icon

        <br /><br />

        div.sui-msg.msg-info
          div.msg-con
            strong 提醒
            | 辅助信息说明
          s.msg-icon

        <br /><br />

        div.sui-msg.msg-question
          div.msg-con
            strong 疑问
            | 辅助信息说明
          s.msg-icon

        <br /><br />

    div.tab-pane#code1
      pre.prettyprint.linenums(data-target='#demo1>div')

  ul.demo-operations.clearfix
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo1>div') 复制代码

  h2 去边框和底色

  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo6', data-toggle='tab') 示例
    li
      a(href='#code6', data-toggle='tab') 代码

  div.tab-content
    div.tab-pane.active#demo6
      div.bs-docs-example
        div.sui-msg.msg-naked.msg-error
          div.msg-con
            strong 错误
            | 辅助说明
          s.msg-icon

    div.tab-pane#code6
      pre.prettyprint.linenums(data-target='#demo6>div')

  ul.demo-operations.clearfix
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo6>div') 复制代码


  h2 带删除按钮

  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo7', data-toggle='tab') 示例
    li
      a(href='#code7', data-toggle='tab') 代码

  div.tab-content
    div.tab-pane.active#demo7
      div.bs-docs-example
        div.sui-msg.msg-error.msg-block
          div.msg-con
            strong 错误
            | 辅助说明
            a.remove <i class="sui-icon icon-pc-error"></i>
          i.msg-icon

    div.tab-pane#code7
      pre.prettyprint.linenums(data-target='#demo7>div')

  ul.demo-operations.clearfix
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo7>div') 复制代码
