extends base

block title
  title Tag 

block sidebar
  +sidebar('Tag')

block content

  h2.sui-page-header 开发者文档

  p.sui-lead 入口class:<code>.sui-tag</code>。近亲label在
      a(href='./label.html') 这里
      p
        strong 更新 @2014-06-23: 修改了布局方式，增加了 <code>.tag-bordered</code>，增加了默认的margin-bottom。

  //- h2 普通与选中的tag
  //- ul.sui-nav.nav-tabs.nav-large
  //-   li.active
  //-     a(href='#demo1', data-toggle='tab') 示例
  //-   li
  //-     a(href='#code1', data-toggle='tab') 代码
  //-   li
  //-     a(href='#doc1', data-toggle='tab') 文档

  //- div.tab-content
  //-   div.tab-pane.active#demo1
  //-     div.bs-docs-example
  //-       - var txt = ['Normal', 'logo设计', '店铺装修达人', '艺术', '公sdf告', '注意afs']
  //-       h3 默认  
  //-       ul.sui-tag
  //-         each text, i in txt
  //-           li #{text}
  //-       h3 选中的tag的状态：li.tag-selected
  //-       ul.sui-tag.tag-selected
  //-         each text, i in txt
  //-           if i % 2 == 0
  //-             li #{text}
  //-           else
  //-             li.tag-selected #{text}

  //-   div.tab-pane#code1
  //-     pre.prettyprint.linenums(data-target='#demo1>div')
  //-   div.tab-pane#doc1
  //-     p 使用方法很简单了，最好是用ul>li的结构，或者内部是a标签也可以。
  //- ul.demo-operations.clearfix
  //-   li
  //-     a(href='#') 下载psd文件
  //-   li
  //-     a.copy-btn(href='javascript:void(0)', data-target='#demo1>div') 复制代码


  h2 右侧带叉（用以删除）
  p.sui-lead
    | 加上 <code>.tag-bordered</code>，会默认加上灰色边框。
  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo2', data-toggle='tab') 示例
    li
      a(href='#code2', data-toggle='tab') 代码
    li
      a(href='#doc2', data-toggle='tab') 文档

  div.tab-content
    div.tab-pane.active#demo2.
      <div class="box-content" style="display: block;">
        <div class="alert alert-info">
          Click buttons below to see Pop Notifications.
        </div>
        <p class="center">
          <button id="topleft" class="sui-btn btn-primary btn-lg">button topleft error</button>  
          <button id="top" class="sui-btn btn-primary btn-lg">button top success</button> 
          <button id="topright" class="sui-btn btn-primary btn-lg">button topright warning</button>  
        </p>
        <p class="center">
          <button id="center" class="sui-btn btn-primary btn-lg">button center error</button>  
        </p>
        <p>
          <button id="bottomleft" class="sui-btn btn-primary btn-lg">button bottomleft error</button>  
          <button id="bottom" class="sui-btn btn-primary btn-lg">button bottom success</button> 
          <button id="bottomright" class="sui-btn btn-primary btn-lg">button bottomright warning</button>  
        </p>
      </div>
    script.
        $('#topleft').click(function(event){
          event.preventDefault();
          $.noty({texts:'button topleft error',type:'error',position:'topleft'});
        });
        $('#top').click(function(event){
          event.preventDefault();
          $.noty({texts:'button top success',posititon:'top',type:'success'});
        });
        $('#topright').click(function(event){
          event.preventDefault();
          $.noty({texts:'button topright warning',type:'warning',position:'topright'});
        });
        $('#center').click(function(event){
          event.preventDefault();
          $.noty({texts:'button center error',type:'error',position:'center'});
        });
        $('#bottomleft').click(function(event){
          event.preventDefault();
          $.noty({texts:'button bottomleft error',type:'error',position:'bottomleft'});
        });
        $('#bottom').click(function(event){
          event.preventDefault();
          $.noty({texts:'button bottom success',type:'success',position:'bottom'});
        });
        $('#bottomright').click(function(event){
          event.preventDefault();
          $.noty({texts:'button bottomright warning',type:'warning',position:'bottomright'});
        });

    div.tab-pane#code2
      pre.prettyprint.linenums(data-target='#demo2>div')
    div.tab-pane#doc2
      p 带叉的tag则在每个tag元素附加class="with-x"，同时内部添加html：
        code &lt;i&gt;&amp;times;&lt;/i&gt;
      p 因为是CSS组件，相关事件需要根据业务逻辑自己添加
  ul.demo-operations.clearfix
    li
      a(href='#') 下载psd文件
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo2>div') 复制代码

