extends base

block title
  title 进度条

block head
  style(type='text/css').
    .sui-progress {
      max-width: 400px;
    }

block sidebar
  +sidebar('progress')

block content

  div.docs-description
    img(src='pictures/docs/progress.png')

  ul.demo-operations.clearfix
    li
      a(href='#') 下载psd文件

  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo1', data-toggle='tab') 示例
    li
      a(href='#code1', data-toggle='tab') 代码
  div.tab-content
    div.tab-pane.active#demo1
      div.bs-docs-example
        div.sui-progress
          div.bar(style="width: 20%;")
          .text 20%

        div.sui-progress.progress-small
          div.bar(style="width: 30%;")
          .text 30%

        div.sui-progress.progress-small
          div.bar(style="width: 40%;")

    div.tab-pane#code1
      pre.prettyprint.linenums(data-target='#demo1>div')

  ul.demo-operations.clearfix
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo1>div') 复制代码
