extends base

block title
  title Sider

block sidebar
  +sidebar('Sider')

block content

  h2.sui-page-header 开发者文档

  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo1', data-toggle='tab') 示例
    li
      a(href='#code1', data-toggle='tab') 代码
    li
      a(href='#doc1', data-toggle='tab') 文档

  div.tab-content
    div.tab-pane.active#demo1
        style.
          #sider1 {
             /*仅在demo中使用*/
            position: relative;
            left: 0;
            bottom: 0;
          }
        div.bs-docs-example
            div.sui-sider#sider1
                a.btn.f-icon.sui-icon.icon-touch-chevron-left(name="sider-back" title="返回上一页")
                a.btn.sui-icon.icon-touch-arrow-up-left(name="sider-scrolltop" title="回到顶部")
                a.btn.sui-icon.icon-touch-refresh(name="sider-refresh" title="刷新")

    div.tab-pane#code1
      pre.prettyprint.linenums(data-target='#demo1>div')
    div.tab-pane#doc1
      p 三个功能分别为返回上一页，回到顶部，刷新
  ul.demo-operations.clearfix
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo1>div') 复制代码

