extends base

block title
  title 步骤条

block sidebar
  +sidebar('step')

block content
  h1.sui-page-header 步骤条
      small steps

  p.sui-lead
    | 适用于需要步骤条的业务场景 
    <h4>修复日志</h4>
    <ul>
    <li>加入一个wrap层，用来解决FF下display:table-cell和position:relative不能并存的问题</li>
    <li>目前，在本机上(xp,ubuntu),IE和chrome展示完美，但是xp下的FF尖角处有黑线，在其他同学的机子上没有发现该问题</li>
    </ul>

  ul.demo-operations.clearfix
    li
      a(href='#') 下载psd文件

  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo1', data-toggle='tab') 示例
    li
      a(href='#code1', data-toggle='tab') 代码
    li
      a(href='#doc1', data-toggle='tab') 文档

  div.tab-content
    div.tab-pane.active#demo1
     div.bs-docs-example
      h2 定宽步骤条
      div.sui-steps
        div.wrap
            div.finished
                label
                    span.round &#10004;
                    span 第一步 #4AA4D5
                i.triangle-right-bg
                i.triangle-right
        div.wrap
            div.current
                label
                    span.round 2 
                    span 第二步 #333333
                i.triangle-right-bg
                i.triangle-right
        div.wrap
            div.todo
                label
                    span.round 3
                    span 第三步 #999999
      div.sui-steps.steps-large
        div.wrap
            div.finished
                label
                    span.round &#10004;
                    span 第一步 #4AA4D5
                i.triangle-right-bg
                i.triangle-right
        div.wrap
            div.current
                label
                    span.round 2
                    span 第二步 #333333
                i.triangle-right-bg
                i.triangle-right
        div.wrap
            div.todo
                label
                    span.round 3
                    span 第三步 #999999
      h2 自适应步骤条
      span 根据页面大小自适应的steps,需要浏览器支持display:table,display:table-cell属性
      div.sui-steps.steps-auto
        div.wrap
            div.finished
                label
                    span.round &#10004;
                    span 第一步 #4AA4D5
                i.triangle-right-bg
                i.triangle-right
        div.wrap
            div.current
                label
                    span.round 2
                    span 第二步 #333333
                i.triangle-right-bg
                i.triangle-right
        div.wrap
            div.todo
                label
                    span.round 3
                    span 第三步 #999999
      div.sui-steps.steps-large.steps-auto
        div.wrap
            div.finished
                label
                    span.round &#10004;
                    span 第一步 #4AA4D5
                i.triangle-right-bg
                i.triangle-right
        div.wrap
            div.current
                label
                    span.round 2
                    span 第二步 #333333
                i.triangle-right-bg
                i.triangle-right
        div.wrap
            div.todo
                label
                    span.round 3
                    span 第三步 #999999
                i.triangle-right-bg
                i.triangle-right
        div.wrap
            div.todo
                label
                    span.round 3
                    span 第四步 #999999
                i.triangle-right-bg
                i.triangle-right
    div.tab-pane#code1
      pre.prettyprint.linenums(data-target='#demo1>div')
    div.tab-pane#doc1
      | <code>steps-auto</code>适用于步骤条内容不能过长的情景，极端情况下请自行修改每个step的宽度
      
