extends _base

block title
  title 标签页

block sidebar
  +sidebar('tab')

block content

  h2.sui-page-header 设计规范

  div.docs-description
      img(src='pictures/docs/tab.png')

  ul.demo-operations.clearfix
    li
        a(href='#') 下载psd文件

  h2.sui-page-header 开发者文档

  p.sui-lead
    | 三种不同大小的标签页，可以当做静态组件使用，引入js之后可以做动态的切换。js用法参考 <a href='tab-js.html'>tab-js</a>。

    ul.unstyled
      li
        strong 更新 v1.1.9：修复了灰色导航条样式的标签页在ie8下垂直样式的bug。
      li
        strong 更新 v1.1.7：为导航条样式的标签页增加了一个轻量的样式（灰色高亮）。

  h2 默认标签页
  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo1', data-toggle='tab') 示例
    li
      a(href='#code1', data-toggle='tab') 代码
    li
      a(href='#doc1', data-toggle='tab') 文档
  div.tab-content
    div.tab-pane.active#demo1
      div.bs-docs-example
        ul.sui-nav.nav-tabs
          li.active
            a 标签一
          li
            a(href='#') 标签二
          li
            a(href='#') 标签二

        ul.sui-nav.nav-tabs.nav-large
          li
            a 语文
          li.active
            a(href='#') 数学
          li
            a(href='#') 英语

        ul.sui-nav.nav-tabs.nav-xlarge
          li
            a 语文
          li.active
            a(href='#') 数学
          li
            a(href='#') 英语

        h3 垂直
        ul.sui-nav.nav-tabs.nav-large.tab-vertical
          li
            a 语文
          li.active
            a(href='#') 数学
          li
            a(href='#') 英语

    div.tab-pane#code1
      pre.prettyprint.linenums(data-target='#demo1>div')
    div.tab-pane#doc1
      | 有三种尺寸: default, <code>.nav-large</code>, <code>.nav-tabs-xlarge</code>。通过在 <code>li</code> 标签上添加 <code>.active</code> 可以指定当前高亮的tab。<br />
      | 默认标签页是静态的，如果需要动态的标签页可以参考这里 <a href='tab-js.html'>js 标签页</a>

  ul.demo-operations.clearfix
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo1>div') 复制代码



  h2 首要标签页
  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo2', data-toggle='tab') 示例
    li
      a(href='#code2', data-toggle='tab') 代码
    li
      a(href='#doc2', data-toggle='tab') 文档
  div.tab-content
    div.tab-pane.active#demo2
      div.bs-docs-example
        ul.sui-nav.nav-tabs.nav-primary
          li.active
            a 标签一
          li
            a(href='#') 标签二
          li
            a(href='#') 标签二

        ul.sui-nav.nav-tabs.nav-large.nav-primary
          li
            a 语文
          li.active
            a(href='#') 数学
          li
            a(href='#') 英语

        ul.sui-nav.nav-tabs.nav-xlarge.nav-primary
          li
            a 前端
          li.active
            a(href='#') 后端
          li
            a(href='#') 运维

        h3 垂直
        ul.sui-nav.nav-tabs.nav-primary.nav-large.tab-vertical
          li
            a 标签一
          li.active
            a(href='#') 标签二
          li
            a(href='#') 标签二
    div.tab-pane#code2
      pre.prettyprint.linenums(data-target='#demo2>div')
    div.tab-pane#doc2
      | 首要标签页，添加 <code>nav-primary</code>

  ul.demo-operations.clearfix
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo2>div') 复制代码

  h2 胶囊样式
  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo3', data-toggle='tab') 示例
    li
      a(href='#code3', data-toggle='tab') 代码
  div.tab-content
    div.tab-pane.active#demo3
      div.bs-docs-example
        ul.sui-nav.nav-tabs.nav-pills
          li.active
            a 标签一
          li
            a(href='#') 标签二
          li
            a(href='#') 标签二

        ul.sui-nav.nav-tabs.nav-large.nav-pills
          li
            a 语文
          li.active
            a(href='#') 数学
          li
            a(href='#') 英语

        ul.sui-nav.nav-tabs.nav-xlarge.nav-pills
          li
            a 前端
          li.active
            a(href='#') 后端
          li
            a(href='#') 运维

        h3 垂直
        ul.sui-nav.nav-tabs.nav-xlarge.nav-pills.tab-vertical
          li
            a 前端
          li.active
            a(href='#') 后端
          li
            a(href='#') 运维

    div.tab-pane#code3
      pre.prettyprint.linenums(data-target='#demo3>div')

  ul.demo-operations.clearfix
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo3>div') 复制代码

  h2 导航条样式
  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo4', data-toggle='tab') 示例
    li
      a(href='#code4', data-toggle='tab') 代码
  div.tab-content
    div.tab-pane.active#demo4
      div.bs-docs-example
        ul.sui-nav.nav-tabs.tab-navbar
          li.active
            a 标签一
          li
            a(href='#') 标签二
          li
            a(href='#') 标签二

        ul.sui-nav.nav-tabs.nav-large.tab-navbar
          li
            a 语文
          li.active
            a(href='#') 数学
          li
            a(href='#') 英语

        ul.sui-nav.nav-tabs.nav-xlarge.tab-navbar
          li
            a 前端
          li
            a(href='#') 后端
          li.active
            a(href='#') 运维

        br

        ul.sui-nav.nav-tabs.tab-navbar.tab-light
          li.active
            a 标签一
          li
            a(href='#') 标签二
          li
            a(href='#') 标签二

        ul.sui-nav.nav-tabs.nav-large.tab-navbar.tab-light
          li
            a 语文
          li.active
            a(href='#') 数学
          li
            a(href='#') 英语

        ul.sui-nav.nav-tabs.nav-xlarge.tab-navbar.tab-light
          li
            a 前端
          li
            a(href='#') 后端
          li.active
            a(href='#') 运维

        h3 垂直
        ul.sui-nav.nav-tabs.nav-xlarge.tab-navbar.tab-vertical
          li.active
            a 前端
          li
            a(href='#') 后端
          li
            a(href='#') 运维
        ul.sui-nav.nav-tabs.nav-xlarge.tab-navbar.tab-vertical
          li
            a 前端
          li.active
            a(href='#') 后端
          li
            a(href='#') 运维
        ul.sui-nav.nav-tabs.nav-xlarge.tab-navbar.tab-vertical
          li
            a 前端
          li
            a(href='#') 后端
          li.active
            a(href='#') 运维

        br

        ul.sui-nav.nav-tabs.nav-xlarge.tab-navbar.tab-vertical.tab-light
          li.active
            a 前端
          li
            a(href='#') 后端
          li
            a(href='#') 运维
        ul.sui-nav.nav-tabs.nav-xlarge.tab-navbar.tab-vertical.tab-light
          li
            a 前端
          li.active
            a(href='#') 后端
          li
            a(href='#') 运维
        ul.sui-nav.nav-tabs.nav-xlarge.tab-navbar.tab-vertical.tab-light
          li
            a 前端
          li
            a(href='#') 后端
          li.active
            a(href='#') 运维

    div.tab-pane#code4
      pre.prettyprint.linenums(data-target='#demo4>div')

  ul.demo-operations.clearfix
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo4>div') 复制代码

  h2 包裹内容

  ul.unstyled.sui-lead
    li 注意，需要在sui-nav和tab-content上都加上 <code>.tab-wraped</code>
    li 默认是四列，可以通过在sui-nav加上 <code>.column3</code> / <code>.column5</code> 变成3列/5列。
    li 内部的label和ul的宽度可以根据需求自己调整。

  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo6', data-toggle='tab') 示例
    li
      a(href='#code6', data-toggle='tab') 代码
  div.tab-content
    div.tab-pane.active#demo6
      div.bs-docs-example
        style.
          /*自己调整宽度*/
          .tab-wraped > li ul {
            width: 140px;
          }
          .tab-wraped > li ul label {
            width: 50px!important;
          }
        ul.sui-nav.nav-tabs.tab-wraped
          li.active
            a(href='#index', data-toggle='tab')
              h3 海贼王
              ul.unstyled
                li
                  label 总赏金
                  strong.sui-text-warning 999,999
                li
                  label 占比
                  span.sui-text-info 33%
          li
            a(href='#profile', data-toggle='tab')
              h3 海贼王
              ul.unstyled
                li
                  label 总赏金
                  strong.sui-text-warning 999,999
                li
                  label 占比
                  span.sui-text-info 33%
          li
            a(href='#about', data-toggle='tab')
              h3 海贼王
              ul.unstyled
                li
                  label 总赏金
                  strong.sui-text-warning 999,999
                li
                  label 占比
                  span.sui-text-info 33%
          li
            a(href='#help', data-toggle='tab')
              h3 海贼王
              ul.unstyled
                li
                  label 总赏金
                  strong.sui-text-warning 999,999
                li
                  label 占比
                  span.sui-text-info 33%

        div.tab-content.tab-wraped
          div.tab-pane.active#index
            p qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
          div.tab-pane#profile
            p Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park
          div.tab-pane#about
            p Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.
          div.tab-pane#help
            p help!!!help!!!help!!!help!!!help!!!help!!!help!!!help!!!help!!!help!!!help!!!
        
    div.tab-pane#code6
      pre.prettyprint.linenums(data-target='#demo6>div')

  ul.demo-operations.clearfix
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo6>div') 复制代码
