extends base

block title
  title 标签页

block sidebar
  +sidebar('tab')

block content
  h1 标签页

  h2.sui-page-header 设计规范

  div.docs-description
      img(src='pictures/docs/tab.png')

  ul.demo-operations.clearfix
    li
        a(href='#') 下载psd文件

  h2.sui-page-header 开发者文档

  p.sui-lead
    | 三种不同大小的标签页，可以当做静态组件使用，引入js之后可以做动态的切换。

  h2 默认标签页
  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo1', data-toggle='tab') 示例
    li
      a(href='#code1', data-toggle='tab') 代码
    li
      a(href='#doc1', data-toggle='tab') 文档
  div.tab-content
    div.tab-pane.active#demo1
      div.bs-docs-example
        ul.sui-nav.nav-tabs
          li.active
            a 标签一
          li
            a(href='#') 标签二
          li
            a(href='#') 标签二

        ul.sui-nav.nav-tabs.nav-large
          li
            a 语文
          li.active
            a(href='#') 数学
          li
            a(href='#') 英语

        ul.sui-nav.nav-tabs.nav-xlarge
          li
            a 语文
          li.active
            a(href='#') 数学
          li
            a(href='#') 英语

        h3 垂直
        ul.sui-nav.nav-tabs.nav-large.tab-vertical
          li
            a 语文
          li.active
            a(href='#') 数学
          li
            a(href='#') 英语

    div.tab-pane#code1
      pre.prettyprint.linenums(data-target='#demo1>div')
    div.tab-pane#doc1
      | 有三种尺寸: default, <code>.nav-large</code>, <code>.nav-tabs-xlarge</code>。通过在 <code>li</code> 标签上添加 <code>.active</code> 可以指定当前高亮的tab。<br />
      | 默认标签页是静态的，如果需要动态的标签页可以参考这里 <a href='tab-js.html'>js 标签页</a>

  ul.demo-operations.clearfix
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo1>div') 复制代码



  h2 首要标签页
  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo2', data-toggle='tab') 示例
    li
      a(href='#code2', data-toggle='tab') 代码
    li
      a(href='#doc2', data-toggle='tab') 文档
  div.tab-content
    div.tab-pane.active#demo2
      div.bs-docs-example
        ul.sui-nav.nav-tabs.nav-primary
          li.active
            a 标签一
          li
            a(href='#') 标签二
          li
            a(href='#') 标签二

        ul.sui-nav.nav-tabs.nav-large.nav-primary
          li
            a 语文
          li.active
            a(href='#') 数学
          li
            a(href='#') 英语

        ul.sui-nav.nav-tabs.nav-xlarge.nav-primary
          li
            a 前端
          li.active
            a(href='#') 后端
          li
            a(href='#') 运维

        h3 垂直
        ul.sui-nav.nav-tabs.nav-primary.nav-large.tab-vertical
          li
            a 标签一
          li.active
            a(href='#') 标签二
          li
            a(href='#') 标签二
    div.tab-pane#code2
      pre.prettyprint.linenums(data-target='#demo2>div')
    div.tab-pane#doc2
      | 首要标签页，添加 <code>nav-primary</code>

  ul.demo-operations.clearfix
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo2>div') 复制代码

  h2 胶囊样式
  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo3', data-toggle='tab') 示例
    li
      a(href='#code3', data-toggle='tab') 代码
  div.tab-content
    div.tab-pane.active#demo3
      div.bs-docs-example
        ul.sui-nav.nav-tabs.nav-pills
          li.active
            a 标签一
          li
            a(href='#') 标签二
          li
            a(href='#') 标签二

        ul.sui-nav.nav-tabs.nav-large.nav-pills
          li
            a 语文
          li.active
            a(href='#') 数学
          li
            a(href='#') 英语

        ul.sui-nav.nav-tabs.nav-xlarge.nav-pills
          li
            a 前端
          li.active
            a(href='#') 后端
          li
            a(href='#') 运维

        h3 垂直
        ul.sui-nav.nav-tabs.nav-xlarge.nav-pills.tab-vertical
          li
            a 前端
          li.active
            a(href='#') 后端
          li
            a(href='#') 运维

    div.tab-pane#code3
      pre.prettyprint.linenums(data-target='#demo3>div')

  ul.demo-operations.clearfix
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo3>div') 复制代码

  h2 导航条样式
  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo4', data-toggle='tab') 示例
    li
      a(href='#code4', data-toggle='tab') 代码
  div.tab-content
    div.tab-pane.active#demo4
      div.bs-docs-example
        ul.sui-nav.nav-tabs.tab-navbar
          li.active
            a 标签一
          li
            a(href='#') 标签二
          li
            a(href='#') 标签二

        ul.sui-nav.nav-tabs.nav-large.tab-navbar
          li
            a 语文
          li.active
            a(href='#') 数学
          li
            a(href='#') 英语

        ul.sui-nav.nav-tabs.nav-xlarge.tab-navbar
          li
            a 前端
          li
            a(href='#') 后端
          li.active
            a(href='#') 运维

        h3 垂直
        ul.sui-nav.nav-tabs.nav-xlarge.tab-navbar.tab-vertical
          li
            a 前端
          li
            a(href='#') 后端
          li.active
            a(href='#') 运维
    div.tab-pane#code4
      pre.prettyprint.linenums(data-target='#demo4>div')

  ul.demo-operations.clearfix
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo4>div') 复制代码
