extends base

block title
  title 文本

block sidebar
  +sidebar('text')

block content
  h1 文本

  h2.sui-page-header 开发者文档

  p.sui-lead
      | 不同功能和颜色的文本

  h2 不同类型
  ul.sui-nav.nav-tabs.nav-large
    li.active
      a(href='#demo1', data-toggle='tab') 示例
    li
      a(href='#code1', data-toggle='tab') 代码

  style.
    .bs-docs-example ul {
      margin-bottom: 20px;
    }
    .bs-docs-example li {
      display: inline-block;
      margin: 0 10px 10px 0;
    }
  div.tab-content
    div.tab-pane.active#demo1
      div.bs-docs-example
        - var cls = ['success', 'warning', 'error', 'info']
        - var txt = ['成功', '警告', '错误', '公告']
        ul
          li
            span 默认文本
          each clsi, i in cls
            li
              span(class='sui-text-#{clsi}') #{txt[i]}
    div.tab-pane#code1
      pre.prettyprint.linenums(data-target='#demo1>div')
  ul.demo-operations.clearfix
    li
      a.copy-btn(href='javascript:void(0)', data-target='#demo1>div') 复制代码
