script.
  var themesUrl = "../.package/css/sui.css";
  var selected = localStorage.getItem("themes-name");
  if(selected && !(selected == 'default')) {
    themesUrl = '../.package/css/sui-themes-' + selected + ".css";
    $(function() {
      var $select = $("#themes-select");
      var $current = $select.find("[value='"+selected+"']");
      $current.parent().addClass("active");
      $select.find(">a > span").html($current.text())[0].className = $current[0].className;
    });
  }
  $('<link href="' + themesUrl + '?r=2014.06.30" rel="stylesheet" id="sui-css" charset="utf-8">').insertBefore($("#docs-css"));
