extends base

block title
    title TREE 级联选择

block head
    style.
        .bs-docs-example{font-size:12px;}
        .sui-tree-group > select + select{margin-left:5px;}

block sidebar
    +sidebar('tree-js')

block content
    div.sui-page-header
        h1 级联选择
            small &nbsp;&nbsp;Tree

    p.docs.
        根据给定的数据生成下拉框，并且能够级联选择，并取到相应的数据。

    h1 1. select，通过标记自动初始化

    ul.sui-nav.nav-tabs.nav-large
        li.active
            a(href='#demo1', data-toggle='tab') 示例
        li
            a(href='#code1', data-toggle='tab') 代码
        li
            a(href='#doc1', data-toggle='tab') 文档

    div.tab-content
        .tab-pane.active#demo1
            .bs-docs-example
                .sui-tree-group(data-toggle='tree', data-jsonp='http://10.68.111.150/php/demo/server/city-jsonp.php' data-jsonp-callback='callbackSuiTree')
        .tab-pane#code1
            pre.prettyprint.linenums(data-target='#demo1>div')
        .tab-pane#doc1
            | <code>data-toggle='tree'</code>通过在元素上加此属性自动初始化，并生成第一个select，必须在初始化之前指定数据源<br>
            | <code>data-src="url"</code>  通过ajax方式获取数据<br>
            | <code>data-jsonp="url"</code>  如果数据源是垮域请求，则使用jsonp请求，默认的回调方法为callbackSuiTree<br>
            | <code>data-jsonp-callback="callbackMethod"</code>  修改jsonp的回调方法<br>
            | <code>$(element).data('value')</code>，element为<code>data-toggle='tree'</code>的元素，可以拿到当前的id，是一个数组<br>
            | <code>$(element).data('option')</code>，element为<code>data-toggle='tree'</code>的元素，可以拿到当前的value，是一个数组

    h1 2. select，通过js调用初始化

    ul.sui-nav.nav-tabs.nav-large
        li.active
            a(href='#demo2', data-toggle='tab') 示例
        li
            a(href='#code2', data-toggle='tab') 代码
        li
            a(href='#doc2', data-toggle='tab') 文档
        li
            a(href='#api2', data-toggle='tab') API

    .tab-content
        .tab-pane.active#demo2
            .bs-docs-example
                .sui-tree-group#treeGroup2
                script.
                    $(function() {
                        $('#treeGroup2').suitree({
                            jsonp : 'http://10.68.111.150/php/demo/server/category-jsonp.php',
                            jsonpCallback : 'callbackSuiTree',
                            placeholder : '-- 请选择 --'
                        });
                    })
        .tab-pane#code2
            pre.prettyprint.linenums(data-target='#demo2>div')
        .tab-pane#doc2
            | 直接调用suitree方法，并传入参数<br>
            | 如果不想通过ajax或jsonp的请求，可以直接在<code>source</code>参数后传入json对象，注意格式要正确<br>
            | 自定义数据的格式：<br>
            pre.prettyprint.
                {
                  "nodes" : [
                    {
                      "id" : "id", // value值
                      "value" : "value", // 显示的内容
                      "parent" : "parent", // TODO ，非必需，暂未支持
                      "isleaf" : "false", // 是否是叶结点，如果为true，则不会解析children里面的内容
                      "childred" : [...] // 子节点，相同的格式
                    },
                    {...},
                    ...
                  ]
                }
        .tab-pane#api2
            table.sui-table.table-bordered
                thead
                    tr
                        th(style="width:100px") 名称
                        th(style="width:50px") 类型
                        th(style="width:50px") 默认值
                        th 描述
                tbody
                    tr
                        td source
                        td object
                        td null
                        td 要解析的数据，优先使用source传入的数据
                    tr
                        td src
                        td string
                        td null
                        td 通过ajax获取数据的url，优先级第二
                    tr
                        td jsonp
                        td string
                        td null
                        td 通过jsonp获取数据的url，优先级第三
                    tr
                        td jsonpCallback
                        td string
                        td "callbackSuiTree"
                        td 默认的回调方法
                    tr
                        td treeType
                        td string
                        td "select'
                        td tree的类型，默认为select TODO list
                    tr
                        td placeholder
                        td string
                        td "请选择"
                        td 默认的第一个option，可以传null或空串，则不会出现默认的option
