extends base_index

block title
  title 教程

block header
  +header('tutorial')

block content_wrap
  .sui-container
    h1.sui-page-header 教程内容

    p.sui-lead
      | 本教程是创建一个非常简单的”新建待办事项”页面，可以填写待办事项的名称、时间和补充说明，可以显示创建结果。
      br
      此页面共涉及到了三个组件：面包屑、提示消息、表单。
      br
      | 最终页面效果见&nbsp;
      a(href='examples/todo-create.html', target="_blank") 新建待办事项。

    h1.sui-page-header 第一步，下载文件
    div
      p
        | SUI 文件主要有两个，分别是：
        ul.unstyled
          li
            strong sui.min.css
            | 样式文件，必须。
          li
            strong sui.min.js
            | JS组件。因为sui的js组件依赖jquery，所以必须在sui.js之前引入jquery。
      h3 引用CDN文件
      p
        | 建议不要直接下载，而是直接引用我们的CDN文件:
      ul.unstyled
        li
          a(href='http://g.tbcdn.cn/sj/dpl/1.0.0/css/sui.min.css', target='_blank') g.tbcdn.cn/sj/dpl/1.0.0/css/sui.min.css
        li
          a(href='http://g.tbcdn.cn/sj/dpl/1.0.0/js/sui.min.js', target='_blank') g.tbcdn.cn/sj/dpl/1.0.0/js/sui.min.js

      h3 下载文件

      p
        | 如果不想引用CDN文件，可以直接去github上clone<a href='https://github.com/sdc-alibaba/sui' target="_blank">源代码</a>，也可以下载打包后的<a href='https://github.com/sdc-alibaba/sui/archive/master.zip' target='_blank'>ZIP文件</a>。
      p
        | 访问 <a href='download.html'>下载页面</a>

    h1.sui-page-header 第二部，引用文件

    p
      | 在head中依次引入sui.css和sui.js文件，代码如下：
    pre.prettyprint.linenums.
      &lt;!DOCTYPE html&gt;
      &lt;html&gt;
      &lt;head&gt;
        &lt;title&gt;新建待办事项&lt;/title&gt;
        &lt;meta charset="utf-8"&gt;
        &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
        &lt;meta name="description" content=""&gt;
        &lt;link href="sui/css/sui.css" rel="stylesheet"&gt;
        &lt;script type="text/javascript" src="http://g.tbcdn.cn/sj/lib/jquery/dist/jquery.min.js"&gt;&lt;/script&gt;
        &lt;script type="text/javascript" src="sui/js/sui.js"&gt;&lt;/script&gt;
      &lt;/head&gt;
      &lt;body&gt;
      &lt;/body&gt;
      &lt;/html&gt;

    h1.sui-page-header 第三步，添加面包屑、提示消息和表单

    p
      | 我们使用三个css组件来生成这个页面，分别是面包屑、提示消息和表单。对应的代码如下

    h4 面包屑代码
    pre.prettyprint.linenums.
      &lt;ul class="sui-breadcrumb"&gt;
        &lt;li&gt;&lt;a href="#"&gt;首页&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;手机数码、电脑办公&lt;/a&gt;&lt;/li&gt;
        &lt;li class="active"&gt;智能手机&lt;/li&gt;
      &lt;/ul&gt;

    h4 提示消息代码
    pre.prettyprint.linenums.
      &lt;div class="sui-msg msg-large msg-block msg-success"&gt;
        &lt;div class="msg-con"&gt;
        新的待办事项”晚上9点拿夜宵”创建成功！
        &lt;/div&gt;
        &lt;s class="msg-icon"&gt;&lt;/s&gt;
      &lt;/div&gt;

    h4 表单代码
    pre.prettyprint.linenums.
      &lt;form class="sui-form form-horizontal" action="" method="post" id="servingForm"&gt;
        &lt;div class="control-group"&gt;
          &lt;label class="control-label"&gt;名称：&lt;/label&gt;
          &lt;div class="controls"&gt;
            &lt;input class="input-xlarge" type='text' /&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="control-group"&gt;
          &lt;label class="control-label"&gt;时间：&lt;/label&gt;
          &lt;div class="controls"&gt;
            &lt;select class="input-medium " name='month'&gt;
              &lt;option value="1"&gt;1&lt;/option&gt;
              &lt;option value="2"&gt;2&lt;/option&gt;
              &lt;option value="3"&gt;3&lt;/option&gt;
              &lt;option value="4"&gt;4&lt;/option&gt;
              &lt;option value="5"&gt;5&lt;/option&gt;
              &lt;option value="6"&gt;6&lt;/option&gt;
              &lt;option value="7"&gt;8&lt;/option&gt;
              &lt;option value="8"&gt;9&lt;/option&gt;
              &lt;option value="9"&gt;9&lt;/option&gt;
              &lt;option value="10"&gt;10&lt;/option&gt;
              &lt;option value="11"&gt;11&lt;/option&gt;
              &lt;option value="12"&gt;12&lt;/option&gt;
            &lt;/select&gt;
            月
            &lt;select class="input-medium " name='date'&gt;
              &lt;option value="1"&gt;1&lt;/option&gt;
              &lt;option value="2"&gt;2&lt;/option&gt;
              &lt;option value="3"&gt;3&lt;/option&gt;
              &lt;option value="4"&gt;4&lt;/option&gt;
              &lt;option value="5"&gt;5&lt;/option&gt;
              &lt;option value="6"&gt;6&lt;/option&gt;
              &lt;option value="7"&gt;8&lt;/option&gt;
              &lt;option value="8"&gt;9&lt;/option&gt;
              &lt;option value="9"&gt;9&lt;/option&gt;
              &lt;option value="10"&gt;10&lt;/option&gt;
              &lt;option value="11"&gt;11&lt;/option&gt;
              &lt;option value="12"&gt;12&lt;/option&gt;
            &lt;/select&gt;
            日
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="control-group"&gt;
          &lt;label class="control-label"&gt;补充说明：&lt;/label&gt;
          &lt;div class="controls"&gt;
            &lt;textarea class='input-xlarge'&gt;&lt;/textarea&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="control-group"&gt;
          &lt;div class="controls"&gt;
            &lt;button class="sui-btn btn-primary btn-xlarge"&gt;创建待办事项&lt;/button&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/form&gt; 

    h1.sui-page-header 第四步，添加表单校验
    
    p
      | 我们有现成的表单校验组件可以直接用。简单修改表单的html即可。

    pre.prettyprint.linenums.
      &lt;form class="sui-form form-horizontal sui-validate" action="" method="post" id="servingForm"&gt;
        &lt;div class="control-group"&gt;
          &lt;label class="control-label"&gt;名称：&lt;/label&gt;
          &lt;div class="controls"&gt;
            &lt;input class="input-xlarge" type='text' data-rules="required|minlength=2|maxlength=50" /&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="control-group"&gt;
          &lt;label class="control-label"&gt;时间：&lt;/label&gt;
          &lt;div class="controls"&gt;
            &lt;select class="input-medium " name='month' data-rules='required'&gt;
              &lt;option value="1"&gt;1&lt;/option&gt;
              &lt;option value="2"&gt;2&lt;/option&gt;
              &lt;option value="3"&gt;3&lt;/option&gt;
              &lt;option value="4"&gt;4&lt;/option&gt;
              &lt;option value="5"&gt;5&lt;/option&gt;
              &lt;option value="6"&gt;6&lt;/option&gt;
              &lt;option value="7"&gt;8&lt;/option&gt;
              &lt;option value="8"&gt;9&lt;/option&gt;
              &lt;option value="9"&gt;9&lt;/option&gt;
              &lt;option value="10"&gt;10&lt;/option&gt;
              &lt;option value="11"&gt;11&lt;/option&gt;
              &lt;option value="12"&gt;12&lt;/option&gt;
            &lt;/select&gt;
            月
            &lt;select class="input-medium " name='date' data-rules='required'&gt;
              &lt;option value="1"&gt;1&lt;/option&gt;
              &lt;option value="2"&gt;2&lt;/option&gt;
              &lt;option value="3"&gt;3&lt;/option&gt;
              &lt;option value="4"&gt;4&lt;/option&gt;
              &lt;option value="5"&gt;5&lt;/option&gt;
              &lt;option value="6"&gt;6&lt;/option&gt;
              &lt;option value="7"&gt;8&lt;/option&gt;
              &lt;option value="8"&gt;9&lt;/option&gt;
              &lt;option value="9"&gt;9&lt;/option&gt;
              &lt;option value="10"&gt;10&lt;/option&gt;
              &lt;option value="11"&gt;11&lt;/option&gt;
              &lt;option value="12"&gt;12&lt;/option&gt;
            &lt;/select&gt;
            日
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="control-group"&gt;
          &lt;label class="control-label"&gt;补充说明：&lt;/label&gt;
          &lt;div class="controls"&gt;
            &lt;textarea class='input-xlarge' data-rules='maxlength=100'&gt;&lt;/textarea&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="control-group"&gt;
          &lt;div class="controls"&gt;
            &lt;button class="sui-btn btn-primary btn-xlarge"&gt;创建待办事项&lt;/button&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/form&gt; 


    h1.sui-page-header 第步，完成

    p
      | 经过上面几步我们就完成了一个简单的创建待办事项的页面，完整代码如下所示：

    pre.prettyprint.linenums.
      &lt;!DOCTYPE html&gt;
      &lt;html&gt;
      &lt;head&gt;
        &lt;title&gt;新建待办事项&lt;/title&gt;
        &lt;meta charset="utf-8"&gt;
        &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
        &lt;meta name="description" content=""&gt;
        &lt;link href="sui/css/sui.css" rel="stylesheet"&gt;
        &lt;script type="text/javascript" src="http://g.tbcdn.cn/sj/lib/jquery/dist/jquery.min.js"&gt;&lt;/script&gt;
        &lt;script type="text/javascript" src="sui/js/sui.js"&gt;&lt;/script&gt;
      &lt;/head&gt;
      &lt;body&gt;
        &lt;div class="sui-container"&gt;
          &lt;ul class="sui-breadcrumb"&gt;
            &lt;li&gt;&lt;a href="#"&gt;待办事项&lt;/a&gt;&lt;/li&gt;
            &lt;li class="active"&gt;添加待办事项&lt;/li&gt;
          &lt;/ul&gt;
          &lt;div class="sui-msg msg-large msg-block msg-success"&gt;
            &lt;div class="msg-con"&gt;
              新的待办事项”晚上9点拿夜宵”创建成功！
            &lt;/div&gt;
            &lt;s class="msg-icon"&gt;&lt;/s&gt;
          &lt;/div&gt;
          &lt;form class="sui-form form-horizontal sui-validate" action="" method="post" id="servingForm"&gt;
            &lt;div class="control-group"&gt;
              &lt;label class="control-label"&gt;名称：&lt;/label&gt;
              &lt;div class="controls"&gt;
                &lt;input class="input-xlarge" type='text' data-rules="required|minlength=2|maxlength=50" /&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="control-group"&gt;
              &lt;label class="control-label"&gt;时间：&lt;/label&gt;
              &lt;div class="controls"&gt;
                &lt;select class="input-medium " name='month' data-rules='required'&gt;
                  &lt;option value="1"&gt;1&lt;/option&gt;
                  &lt;option value="2"&gt;2&lt;/option&gt;
                  &lt;option value="3"&gt;3&lt;/option&gt;
                  &lt;option value="4"&gt;4&lt;/option&gt;
                  &lt;option value="5"&gt;5&lt;/option&gt;
                  &lt;option value="6"&gt;6&lt;/option&gt;
                  &lt;option value="7"&gt;8&lt;/option&gt;
                  &lt;option value="8"&gt;9&lt;/option&gt;
                  &lt;option value="9"&gt;9&lt;/option&gt;
                  &lt;option value="10"&gt;10&lt;/option&gt;
                  &lt;option value="11"&gt;11&lt;/option&gt;
                  &lt;option value="12"&gt;12&lt;/option&gt;
                &lt;/select&gt;
                月
                &lt;select class="input-medium " name='date' data-rules='required'&gt;
                  &lt;option value="1"&gt;1&lt;/option&gt;
                  &lt;option value="2"&gt;2&lt;/option&gt;
                  &lt;option value="3"&gt;3&lt;/option&gt;
                  &lt;option value="4"&gt;4&lt;/option&gt;
                  &lt;option value="5"&gt;5&lt;/option&gt;
                  &lt;option value="6"&gt;6&lt;/option&gt;
                  &lt;option value="7"&gt;8&lt;/option&gt;
                  &lt;option value="8"&gt;9&lt;/option&gt;
                  &lt;option value="9"&gt;9&lt;/option&gt;
                  &lt;option value="10"&gt;10&lt;/option&gt;
                  &lt;option value="11"&gt;11&lt;/option&gt;
                  &lt;option value="12"&gt;12&lt;/option&gt;
                &lt;/select&gt;
                日
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="control-group"&gt;
              &lt;label class="control-label"&gt;补充说明：&lt;/label&gt;
              &lt;div class="controls"&gt;
                &lt;textarea class='input-xlarge' data-rules='maxlength=100'&gt;&lt;/textarea&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="control-group"&gt;
              &lt;div class="controls"&gt;
                &lt;button class="sui-btn btn-primary btn-xlarge"&gt;创建待办事项&lt;/button&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/form&gt; 


        &lt;/div&gt;
      &lt;/body&gt;
      &lt;/html&gt;
