/* Add additional stylesheets below
-------------------------------------------------- */
/*
  Bootstrap's documentation styles
  Special styles for presenting Bootstrap's documentation and examples
*/
/* Body and structure
-------------------------------------------------- */
.sui-nav.nav-stacked.docs-nav {
  width: 140px;
  text-align: right;
  padding-right: 20px;
  background: url(../../pictures/kedu.png) top right repeat-y;
}
.sui-nav.nav-stacked.docs-nav li {
  border: none;
  position: relative;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-left: 0;
}
.sui-nav.nav-stacked.docs-nav li a {
  line-height: 18px;
  color: #666;
  font-weight: 700;
  font-family: "Microsoft Yahei", Arial, Verdana, Sans-serif;
  position: relative;
  font-size: 16px;
}
.sui-nav.nav-stacked.docs-nav li a:hover {
  color: #333333;
  background: none;
}
.sui-nav.nav-stacked.docs-nav .nav-stacked.docs-nav {
  display: none;
  margin-bottom: 0;
  background: none;
}
.sui-nav.nav-stacked.docs-nav .nav-stacked.docs-nav > li a {
  margin-left: 30px;
  color: #bcbec0;
  position: relative;
  border: none;
  border-left: 0;
  border-right: 0;
  font-weight: normal;
  font-size: 12px;
  font-family: "Microsoft Yahei", Arial, Verdana, Sans-serif;
}
.sui-nav.nav-stacked.docs-nav .nav-stacked.docs-nav > li a:hover {
  color: #333333;
  background: none;
}
.sui-nav.nav-stacked.docs-nav .nav-stacked.docs-nav .active a {
  color: #333333;
}
.sui-nav.nav-stacked.docs-nav .active .nav-stacked.docs-nav {
  display: block;
}
.sui-nav.nav-stacked.docs-nav .active a {
  color: #333333;
}
.sui-nav.nav-stacked.docs-nav .docs-icon {
  background: url(../../pictures/left_04.png);
  display: inline-block;
  width: 13px;
  height: 13px;
  position: absolute;
  right: -40px;
  top: 50%;
  margin-top: -9px;
}
.sui-nav.nav-stacked.docs-nav .active .docs-icon {
  background: url(../../pictures/blue_11.png);
}
body {
  position: relative;
  padding-top: 59px;
  font-size: 14px;
  background: #fbfbfb;
}
body > .sui-layout,
body > .sui-layout > .content {
  background: #fbfbfb;
}
html,
body,
.sui-layout,
body > .sui-layout > .sidebar {
  height: 100%;
}
/* Code in headings */
h1 {
  font-size: 32px;
  line-height: 48px;
}
h3 code {
  font-size: 14px;
  font-weight: normal;
}
/* Tweak navbar brand link to be super sleek
-------------------------------------------------- */
body > .sui-layout > .content {
  padding: 0 25px;
  margin-left: 210px;
  overflow: hidden;
}
body > .sui-layout > .sidebar {
  width: 180px;
  font-size: 14px;
  line-height: 22px;
  position: fixed;
}
.docs-sidenav {
  width: 151px;
}
.docs-sidenav [class^="sui-icon"] {
  font-size: 18px;
  vertical-align: -2px;
}
.sui-nav.nav-xlarge > li > a {
  padding: 10px 18px;
}
body > .sui-navbar {
  font-size: 14px;
}
body > .sui-navbar .sui-brand {
  padding: 3px;
  font-size: 32px;
  line-height: 48px;
}
body > .sui-navbar > .navbar-inner {
  padding-left: 25px;
  background-image: none;
}
body > .sui-navbar .sui-nav {
  margin-left: 50px;
}
body > .sui-navbar .sui-nav > li > a {
  padding: 20px;
}
/* Change the docs' brand */
body > .navbar .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  float: right;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.125);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}
body > .navbar .brand:hover {
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 30px rgba(255, 255, 255, 0.4);
}
.sui-page-header {
  margin-left: 50px;
  position: relative;
  border-bottom: 1px solid #666;
  padding: 0;
  margin-top: 30px;
}
.sui-page-header:before {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  background: url(../../pictures/title-arrow.png) no-repeat;
  top: 4px;
  left: -50px;
}
h1.sui-page-header:before {
  top: 10px;
}
.demo-operations {
  margin: 10px 0 40px 0;
  list-style: none;
  padding: 4px 8px;
  border-radius: 3px;
  background: #fbfbfb;
}
.demo-operations li {
  float: left;
  position: relative;
  margin-right: 20px;
}
.demo-operations li .sui-msg {
  position: absolute;
  top: 25px;
  left: -20px;
  display: none;
  width: 100px;
}
.copy-btn.zeroclipboard-is-hover {
  text-decoration: underline;
  color: #ff7300;
}
.bs-docs-example {
  position: relative;
  margin-bottom: 15px;
  padding: 39px 19px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.bs-docs-example:after {
  content: "示例";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
  -moz-border-radius: 4px 0 4px 0;
  border-radius: 4px 0 4px 0;
}
.footer {
  border-top: 1px solid #aaa;
  padding: 30px;
  text-align: center;
  color: #666;
  font-size: 13px;
  margin-top: 50px;
}
.footer li {
  padding: 4px 0;
}
#themes-select .dropdown-toggle {
  padding: 0;
  margin-top: 15px;
}
#themes-select .dropdown-toggle span {
  text-indent: -9999px;
}
#themes-select ul {
  padding: 0 0 8px 8px;
  min-width: 85px;
}
#themes-select li {
  float: left;
  margin: 8px 8px 0 0px;
}
#themes-select .dropdown-toggle span,
#themes-select li a {
  background: #76b8ea;
  text-indent: -9999em;
  width: 32px;
  height: 32px;
  padding: 0;
  display: inline-block;
}
#themes-select .dropdown-toggle span.default,
#themes-select li a.default {
  background: #76b8ea;
}
#themes-select .dropdown-toggle span.green,
#themes-select li a.green {
  background: #82af70;
}
#themes-select .dropdown-toggle span.pink,
#themes-select li a.pink {
  background: #d094b6;
}
#themes-select .dropdown-toggle span.dark-green,
#themes-select li a.dark-green {
  background: #5c9098;
}
.hidden-achor {
  position: relative;
  top: -100px;
  left: 1em;
  width: 1px;
  height: 1px;
  display: block;
}
@media (max-width: 1400px) {
  .sui-navbar .sui-container {
    width: auto;
  }
}
@media (min-width: 1400px) {
  .sui-layout,
  .sui-navbar .sui-container {
    width: 1400px;
    margin: auto;
  }
}
@media (min-width: 1400px) {
  .sui-navbar .sui-container {
    width: 1400px;
    margin: auto;
  }
  body > .sui-layout > .content {
    margin-left: 230px;
  }
}
@media (max-width: 800px) {
  body {
    padding: 0;
  }
  body > .sui-layout > .sidebar {
    position: static;
    float: none;
    height: auto;
  }
  body > .sui-layout > .content {
    margin-left: 0;
    padding: 10px;
  }
  body > .sui-layout > .sidebar {
    width: auto;
    height: auto;
  }
  .docs-sidenav {
    width: auto;
  }
  body > .sui-navbar {
    position: static;
  }
}
.sui-gallery {
  text-align: center;
}
h2 {
  margin-top: 2em;
}
li {
  list-style-type: none;
}
.col-sm-6 {
  position: relative;
  min-height: 1px;
  margin: 20px;
  display: inline-block;
}
.ih-item.square .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.ih-item.square {
  border: 8px solid #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  height: 120px;
  overflow: hidden;
  border: 1px solid #ccc \9;
}
.ih-item.square a {
  background: white;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 200px;
  height: 120px;
}
.ih-item.square.effect15 {
  overflow: hidden;
  -webkit-perspective: 900px;
  -moz-perspective: 900px;
  perspective: 900px;
}
.ih-item.square.effect15.colored .info {
  background: #1a4a72;
}
.ih-item.square.effect15 .img {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.ih-item.square.effect15 .info {
  background: #333333;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.2s ease-in-out 0.1s;
  -moz-transition: all 0.2s ease-in-out 0.1s;
  transition: all 0.2s ease-in-out 0.1s;
}
.ih-item.square.effect15 .info h3 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  background: #111111;
  margin: 0;
}
.ih-item.square.effect15 .info p {
  font-style: italic;
  font-size: 12px;
  position: relative;
  color: #bbb;
  padding: 10px;
  text-align: center;
}
.ih-item.square.effect15 a:hover .img {
  visibility: hidden;
}
.ih-item.square.effect15 a:hover .info {
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
}
.ih-item.square.effect15.left_to_right .img {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
.ih-item.square.effect15.left_to_right .info {
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}
.ih-item.square.effect15.left_to_right a:hover .img {
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  -o-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}
.ih-item.square.effect15.left_to_right a:hover .info {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
}
.ih-item.square.effect15.right_to_left .img {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}
.ih-item.square.effect15.right_to_left .info {
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  -o-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}
.ih-item.square.effect15.right_to_left a:hover .img {
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
.ih-item.square.effect15.right_to_left a:hover .info {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
}
.ih-item.square.effect15.top_to_bottom .img {
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -ms-transform: rotateX(0);
  -o-transform: rotateX(0);
  transform: rotateX(0);
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.ih-item.square.effect15.top_to_bottom .info {
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
.ih-item.square.effect15.top_to_bottom a:hover .img {
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.ih-item.square.effect15.top_to_bottom a:hover .info {
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -ms-transform: rotateX(0);
  -o-transform: rotateX(0);
  transform: rotateX(0);
}
.ih-item.square.effect15.bottom_to_top .img {
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -ms-transform: rotateX(0);
  -o-transform: rotateX(0);
  transform: rotateX(0);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
.ih-item.square.effect15.bottom_to_top .info {
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.ih-item.square.effect15.bottom_to_top a:hover .img {
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
.ih-item.square.effect15.bottom_to_top a:hover .info {
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -ms-transform: rotateX(0);
  -o-transform: rotateX(0);
  transform: rotateX(0);
}
